openapi: 3.0.0
info:
  description: |-
    The Retool API enables you to programmatically perform actions across your organization and its spaces. You can perform RESTful requests to manage a wide range of objects, such as adding users or updating resource configurations.

    ## Base URL

    All endpoints are relative to your Retool instance URL:

    ```
    https://{your-retool-instance}/api/v2
    ```

    ## Authentication

    The Retool API uses HTTP Bearer authentication scheme with API tokens to authenticate requests. Users with sufficient permissions can create API tokens in the organization's [Retool API settings](/auth/login?redirectOnLogin=settings/api). Each token can be scoped to specific permissions—only grant the scopes needed for your use case.

    ```
    Authorization: Bearer YOUR_API_TOKEN
    ```

    ## Versioning

    The API version corresponds to the Retool release version in which it was shipped. This means the API version reflects the features and endpoints available in that release. When you upgrade your Retool instance, the API version updates alongside it and any new endpoints or capabilities introduced in that release become available.
  title: Retool API
  version: 4.0.0
externalDocs:
  description: Retool API Documentation
  url: /reference
servers:
- url: https://stable-4-0.retool.dev/api/v2
security:
- BearerAuth: []
tags:
- description: Manage user accounts at the organization level. Users are created in
    the organization and must be granted access to specific spaces through `groups`.
  name: Users
- description: "Manage permission groups for the organization or specific spaces.\
    \ Groups control which users have access to certain functions and features, such\
    \ as `apps`, `resources`, and `workflows`. Add or remove users from groups to\
    \ grant or revoke access."
  name: Groups
- description: "Manage app, workflow, resource, agent, and library folders within\
    \ your organization."
  name: Folders
- description: "Manage spaces within your organization. Spaces enable organizations\
    \ to implement isolated, multitenant experiences without the need for multiple\
    \ instances. Create spaces, copy elements between spaces, and manage space settings.\
    \ User access to spaces is controlled through `groups`."
  name: Spaces
- description: Manage apps within your organization.
  name: Apps
- description: Manage workflows within your organization.
  name: Workflows
- description: Manage resources within your organization.
  name: Resources
- description: "Manage environment-specific configurations for resources. Resource\
    \ configurations allow you to define different settings for a resource based on\
    \ the environment (e.g., development, staging, production) in which it is used."
  name: Resource Configurations
- description: "Manage access permissions for `apps` and `folders`. Grant or revoke\
    \ permissions for `groups`, and retrieve access lists for specific objects."
  name: Permissions
- description: Manage custom attributes for users in your organization. User attributes
    store additional metadata about users and can be used to control access and personalize
    app behavior.
  name: User Attributes
- description: "Manage pending invitations to your organization. Create, retrieve,\
    \ and delete user invites, and manage user attributes on invites before users\
    \ accept."
  name: User Invites
- description: Manage API access tokens for your organization. Access tokens authenticate
    API requests and can be scoped to specific permissions.
  name: Access Tokens
- description: Manage requests from users who need access to `apps` or other resources.
    Approve or deny pending access requests within your organization.
  name: Access Requests
- description: "Manage environments within your organization. Environments allow you\
    \ to run `resources` against different configurations, such as development, staging,\
    \ and production."
  name: Environments
- description: Manage configuration variables across your organization. Config variables
    store environment-specific values that can be referenced by `resources` and queries.
  name: Configuration Variables
- description: Manage single sign-on (SSO) configuration for your organization. Configure
    and remove identity provider settings to control how users authenticate.
  name: SSO
- description: Manage custom component libraries in your organization. Custom component
    libraries extend the Retool component set in classic apps with reusable components
    built with standard web technologies.
  name: Custom Component Libraries
- description: "Manage source control configuration and deployments for your organization.\
    \ Connect a Git provider, deploy changes, and track deployment history."
  name: Source Control
- description: Manage release manifests and versioned releases for `apps` within your
    organization. Release manifests define which version of each app is promoted to
    production.
  name: Release Management
- description: "Manage app themes within your organization. Themes define the visual\
    \ style of your apps, including colors, typography, and component defaults."
  name: App Themes
- description: "Manage your Retool organization. An organization is a distinct collection\
    \ of users and data. They operate separately from one another, have their own\
    \ configuration settings, and are where users share access to work."
  name: Organization
- description: "Retrieve usage data for your organization. Access summaries and detailed\
    \ breakdowns of page views, active users, and app activity across organizations."
  name: Usage
- description: "Manage user tasks generated by `workflows`. List, submit, cancel,\
    \ and reassign tasks assigned to users or `groups`."
  name: User Tasks
- description: Retrieve details about individual workflow run executions.
  name: Workflow Runs
- description: Trigger and manage process runs within your organization.
  name: Processes
- description: Manage observability configurations for your organization. Connect
    an observability provider to receive error events and monitor your Retool instance.
  name: Observability
- description: "Retrieve system information for your Retool instance, such as IP allowlists\
    \ by region."
  name: Info
paths:
  /users/{userId}:
    delete:
      description: Disables a user from the organization. Requires the `users:write`
        scope.
      parameters:
      - explode: false
        in: path
        name: userId
        required: true
        schema:
          description: The unique identifier for the user.
          example: user_1234
          pattern: "user_([a-z0-9]+)"
          type: string
        style: simple
      responses:
        "204":
          description: The user has been successfully disabled.
      summary: Delete a user
      tags:
      - Users
      x-badges:
      - color: blue
        label: Enterprise
    get:
      description: Returns the specified user. Requires the `users:read` scope.
      parameters:
      - explode: false
        in: path
        name: userId
        required: true
        schema:
          description: The unique identifier for the user.
          example: user_1234
          pattern: "user_([a-z0-9]+)"
          type: string
        style: simple
      - explode: true
        in: query
        name: includeGroups
        required: false
        schema:
          default: false
          description: Whether to include a list of groups for which this user is
            a member.
          nullable: true
          type: boolean
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/_users__userId__get_200_response'
          description: The requested user.
      summary: Get a user
      tags:
      - Users
      x-badges:
      - color: blue
        label: Enterprise
    patch:
      description: Updates a user and returns the updated user. Requires the `users:write`
        scope.
      parameters:
      - explode: false
        in: path
        name: userId
        required: true
        schema:
          description: The unique identifier for the user.
          example: user_1234
          pattern: "user_([a-z0-9]+)"
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/_users__userId__patch_request'
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/_users__userId__patch_200_response'
          description: The updated user.
      summary: Update a user
      tags:
      - Users
      x-badges:
      - color: blue
        label: Enterprise
  /users:
    get:
      description: Returns a list of users. Requires the `users:read` scope.
      parameters:
      - explode: true
        in: query
        name: email
        required: false
        schema:
          description: Filter users by email address.
          type: string
        style: form
      - explode: true
        in: query
        name: first_name
        required: false
        schema:
          description: Filter users by first name.
          type: string
        style: form
      - explode: true
        in: query
        name: last_name
        required: false
        schema:
          description: Filter users by last name.
          type: string
        style: form
      - explode: true
        in: query
        name: limit
        required: false
        schema:
          description: "Maximum number of items to return per page. If not provided,\
            \ all items are returned. When provided, enables pagination and the response\
            \ will include next_token for retrieving subsequent pages. Valid range:\
            \ 1-100."
          example: 50
          maximum: 100
          minimum: 1
          type: integer
        style: form
      - explode: true
        in: query
        name: next_token
        required: false
        schema:
          description: Cursor token for retrieving the next page of results. Obtained
            from the next_token field of a previous paginated response. Only valid
            when the limit parameter is also provided.
          example: eyJsYXN0SWQiOjEyM30...
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/_users_get_200_response'
          description: A list of matching users.
      summary: List users
      tags:
      - Users
      x-badges:
      - color: blue
        label: Enterprise
    post:
      description: Creates a user and returns the created user. Requires the `users:write`
        scope.
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/_users_post_request'
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/_users_post_200_response'
          description: The created user.
      summary: Create a user
      tags:
      - Users
      x-badges:
      - color: blue
        label: Enterprise
  /users/reset2fa/{userId}:
    put:
      description: Disables all two-factor authentication methods for the specified
        user. Requires the `users:write` scope.
      parameters:
      - explode: false
        in: path
        name: userId
        required: true
        schema:
          description: The unique identifier for the user.
          example: user_1234
          pattern: "user_([a-z0-9]+)"
          type: string
        style: simple
      responses:
        "204":
          description: Two-factor authentication has been successfully reset.
      summary: Reset a user's two-factor authentication
      tags:
      - Users
      x-badges:
      - color: blue
        label: Enterprise
  /users/{userId}/logout:
    post:
      description: Terminates all active Retool sessions for the specified user. Optionally
        initiates an RP-initiated logout with the configured OIDC SSO provider by
        returning an `sso_logout_url` that the caller must redirect the user's browser
        to. Requires the `users:write` scope.
      parameters:
      - explode: false
        in: path
        name: userId
        required: true
        schema:
          description: The unique identifier for the user.
          example: user_1234
          pattern: "user_([a-z0-9]+)"
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/_users__userId__logout_post_request'
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/_users__userId__logout_post_200_response'
          description: The user has been logged out.
      summary: Log out a user
      tags:
      - Users
  /users/{userId}/user_attributes:
    post:
      description: Creates or updates a user attribute and returns the updated user
        metadata. Requires the `users:write` or `user_attributes:write` scope.
      parameters:
      - explode: false
        in: path
        name: userId
        required: true
        schema:
          description: The unique identifier for the user.
          example: user_1234
          pattern: "user_([a-z0-9]+)"
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/_users__userId__user_attributes_post_request'
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/_users__userId__user_attributes_post_200_response'
          description: The updated user metadata.
      summary: Create or update a user attribute
      tags:
      - User Attributes
      x-badges:
      - color: green
        label: Business
      - color: blue
        label: Enterprise
  /users/{userId}/user_attributes/{attributeName}:
    delete:
      description: Deletes a user attribute and returns the updated user metadata.
        Requires the `users:write` or `user_attributes:write` scope.
      parameters:
      - explode: false
        in: path
        name: userId
        required: true
        schema:
          description: The unique identifier for the user.
          example: user_1234
          pattern: "user_([a-z0-9]+)"
          type: string
        style: simple
      - explode: false
        in: path
        name: attributeName
        required: true
        schema:
          description: The name of the user attribute to delete.
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/_users__userId__user_attributes__attributeName__delete_200_response'
          description: The updated user metadata.
      summary: Delete a user attribute
      tags:
      - User Attributes
      x-badges:
      - color: green
        label: Business
      - color: blue
        label: Enterprise
  /groups/{groupId}:
    delete:
      description: Deletes the specified group. Requires the `groups:write` scope.
      parameters:
      - explode: false
        in: path
        name: groupId
        required: true
        schema:
          description: The group's ID number.
          pattern: ^\d+$
          type: string
        style: simple
      responses:
        "204":
          description: The group has been successfully deleted.
      summary: Delete a group
      tags:
      - Groups
      x-badges:
      - color: blue
        label: Enterprise
    get:
      description: Returns the specified group. Requires the `groups:read` scope.
      parameters:
      - explode: false
        in: path
        name: groupId
        required: true
        schema:
          description: The group's ID number.
          pattern: ^\d+$
          type: string
        style: simple
      - explode: true
        in: query
        name: excludeDisabledUsers
        required: false
        schema:
          description: Whether to exclude disabled users from the members list in
            the response.
          nullable: true
          type: boolean
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/_groups__groupId__get_200_response'
          description: The requested group.
      summary: Get a group
      tags:
      - Groups
      x-badges:
      - color: blue
        label: Enterprise
    patch:
      description: Updates a group in an organization using JSON Patch (RFC 6902)
        and returns the updated group. Requires the `groups:write` scope.
      parameters:
      - explode: false
        in: path
        name: groupId
        required: true
        schema:
          description: The group's ID number.
          pattern: ^\d+$
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/_groups__groupId__patch_request'
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/_groups__groupId__put_200_response'
          description: The updated group.
      summary: Update a group
      tags:
      - Groups
      x-badges:
      - color: blue
        label: Enterprise
    put:
      description: Replaces the entire group and returns the updated group. Requires
        the `groups:write` scope.
      parameters:
      - explode: false
        in: path
        name: groupId
        required: true
        schema:
          description: The group's ID number.
          pattern: ^\d+$
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/_groups__groupId__put_request'
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/_groups__groupId__put_200_response'
          description: The updated group.
      summary: Replace a group
      tags:
      - Groups
      x-badges:
      - color: blue
        label: Enterprise
  /groups:
    get:
      description: Returns a list of permission groups for an organization or space.
        Requires the `groups:read` scope.
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/_groups_get_200_response'
          description: A list of groups.
      summary: List groups
      tags:
      - Groups
      x-badges:
      - color: blue
        label: Enterprise
    post:
      description: Creates a group and returns the created group. Requires the `groups:write`
        scope.
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/_groups_post_request'
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/_groups_post_200_response'
          description: The created group.
      summary: Create a group
      tags:
      - Groups
      x-badges:
      - color: blue
        label: Enterprise
  /groups/{groupId}/user_invites:
    post:
      description: Adds user invites to the specified group and returns the updated
        group. Requires the `groups:write` scope.
      parameters:
      - explode: false
        in: path
        name: groupId
        required: true
        schema:
          description: The group's ID number.
          pattern: ^\d+$
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/_groups__groupId__user_invites_post_request'
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/_groups__groupId__put_200_response'
          description: The updated group.
      summary: Add user invites to a group
      tags:
      - Groups
      x-badges:
      - color: blue
        label: Enterprise
  /groups/{groupId}/members:
    post:
      description: "Adds specified user(s) to a group and returns the updated group.\
        \ Can optionally set or unset group admins by using the `is_group_admin` property.\
        \ If existing members are passed in, group admin status will be updated. You\
        \ cannot remove members using this endpoint. Requires the `groups:write` scope."
      parameters:
      - explode: false
        in: path
        name: groupId
        required: true
        schema:
          description: The group's ID number.
          pattern: ^\d+$
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/_groups__groupId__members_post_request'
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/_groups__groupId__put_200_response'
          description: The updated group.
      summary: Add users to a group
      tags:
      - Groups
      x-badges:
      - color: blue
        label: Enterprise
  /groups/{groupId}/members/{userId}:
    delete:
      description: Removes the specified user from the group and returns the updated
        group. Requires the `groups:write` scope.
      parameters:
      - explode: false
        in: path
        name: groupId
        required: true
        schema:
          description: The group's ID number.
          pattern: ^\d+$
          type: string
        style: simple
      - explode: false
        in: path
        name: userId
        required: true
        schema:
          description: The unique identifier for the user.
          example: user_1234
          pattern: "user_([a-z0-9]+)"
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/_groups__groupId__put_200_response'
          description: The updated group.
      summary: Remove a user from a group
      tags:
      - Groups
      x-badges:
      - color: blue
        label: Enterprise
  /groups/{groupId}/user_invites/{userInviteId}:
    delete:
      description: Removes the specified user invite from the group. Requires the
        `groups:write` scope.
      parameters:
      - explode: false
        in: path
        name: groupId
        required: true
        schema:
          description: The group's ID number.
          pattern: ^\d+$
          type: string
        style: simple
      - explode: false
        in: path
        name: userInviteId
        required: true
        schema:
          description: The user invite's ID number.
          pattern: ^\d+$
          type: string
        style: simple
      responses:
        "204":
          content: {}
          description: The user invite has been successfully removed from the group.
      summary: Remove a user invite from a group
      tags:
      - Groups
      x-badges:
      - color: blue
        label: Enterprise
  /folders:
    get:
      description: Returns a list of folders. Requires the `folders:read` scope.
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/_folders_get_200_response'
          description: A paginated list of folders.
      summary: List folders
      tags:
      - Folders
      x-badges:
      - color: blue
        label: Enterprise
    post:
      description: Creates a folder and returns the created folder. Requires the `folders:write`
        scope.
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/_folders_post_request'
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/_folders_post_200_response'
          description: The created folder.
        "409":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/_folders_post_409_response'
          description: Folder with the same name already exists.
        "422":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/_folders_post_409_response'
          description: Error with folder structure.
      summary: Create a folder
      tags:
      - Folders
      x-badges:
      - color: blue
        label: Enterprise
  /folders/{folderId}:
    delete:
      description: Deletes the specified folder. Requires the `folders:write` scope.
      parameters:
      - explode: false
        in: path
        name: folderId
        required: true
        schema:
          description: The id of the folder
          pattern: "^(app|workflow|resource|agent|library)_([0-9]\\d*)$"
          type: string
        style: simple
      - explode: true
        in: query
        name: recursive
        required: false
        schema:
          description: Should the folder's contents also be deleted? (Only supported
            for app folders.)
          nullable: true
          type: boolean
        style: form
      responses:
        "204":
          description: The folder has been successfully deleted.
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/_folders_post_409_response'
          description: Folder not found.
      summary: Delete a folder
      tags:
      - Folders
      x-badges:
      - color: blue
        label: Enterprise
    get:
      description: Returns the specified folder. Requires the `folders:read` scope.
      parameters:
      - explode: false
        in: path
        name: folderId
        required: true
        schema:
          description: The id of the folder
          pattern: "^(app|workflow|resource|agent|library)_([0-9]\\d*)$"
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/_folders__folderId__get_200_response'
          description: The requested folder.
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/_folders_post_409_response'
          description: Folder not found.
      summary: Get a folder
      tags:
      - Folders
      x-badges:
      - color: blue
        label: Enterprise
    patch:
      description: Updates a folder and returns the updated folder. Requires the `folders:write`
        scope.
      parameters:
      - explode: false
        in: path
        name: folderId
        required: true
        schema:
          description: The id of the folder
          pattern: "^(app|workflow|resource|agent|library)_([0-9]\\d*)$"
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/_folders__folderId__patch_request'
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/_folders__folderId__patch_200_response'
          description: The updated folder.
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/_folders_post_409_response'
          description: Folder not found.
        "409":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/_folders_post_409_response'
          description: Folder with the same name already exists.
        "422":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/_folders_post_409_response'
          description: Error with folder structure.
      summary: Update a folder
      tags:
      - Folders
      x-badges:
      - color: blue
        label: Enterprise
  /spaces:
    get:
      description: Returns a list of child spaces within the current space. Requires
        the `spaces:read` scope.
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/_spaces_get_200_response'
          description: A list of spaces.
      summary: List spaces
      tags:
      - Spaces
      x-badges:
      - color: blue
        label: Enterprise
    post:
      description: Creates a space and returns the created space. Requires the `spaces:write`
        scope.
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/_spaces_post_request'
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/_spaces_post_200_response'
          description: The created space.
      summary: Create a space
      tags:
      - Spaces
      x-badges:
      - color: blue
        label: Enterprise
  /spaces/{spaceId}:
    delete:
      description: Deletes the specified space. Requires the `spaces:write` scope.
      parameters:
      - explode: false
        in: path
        name: spaceId
        required: true
        schema:
          description: The id of the space to delete.
          type: string
        style: simple
      responses:
        "204":
          description: The space has been successfully deleted.
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/_folders_post_409_response'
          description: Space not found.
      summary: Delete a space
      tags:
      - Spaces
      x-badges:
      - color: blue
        label: Enterprise
    get:
      description: Returns the specified space. Requires the `spaces:read` scope.
      parameters:
      - explode: false
        in: path
        name: spaceId
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/_spaces__spaceId__get_200_response'
          description: The requested space.
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/_folders_post_409_response'
          description: Space not found.
      summary: Get a space
      tags:
      - Spaces
      x-badges:
      - color: blue
        label: Enterprise
    put:
      description: Updates the specified space and returns the updated space. Requires
        the `spaces:write` scope.
      parameters:
      - explode: false
        in: path
        name: spaceId
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/_spaces__spaceId__put_request'
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/_spaces__spaceId__put_200_response'
          description: The updated space.
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/_folders_post_409_response'
          description: Space not found.
        "422":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/_folders_post_409_response'
          description: Invalid space domain.
      summary: Update a space
      tags:
      - Spaces
      x-badges:
      - color: blue
        label: Enterprise
  /spaces/copyElements:
    post:
      description: "Copies apps, queries, resources, and workflows from one space\
        \ to another and returns the result. Requires the `spaces:write` scope."
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/_spaces_copyElements_post_request'
      responses:
        "201":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/_spaces_copyElements_post_201_response'
          description: The copied elements.
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/_folders_post_409_response'
          description: Error message.
      summary: Copy elements to another space
      tags:
      - Spaces
      x-badges:
      - color: blue
        label: Enterprise
  /source_control/config:
    delete:
      description: Deletes the source control configuration for the organization or
        space. Requires the `source_control:write` scope.
      responses:
        "204":
          description: The source control configuration has been successfully deleted.
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/_folders_post_409_response'
          description: Error message
      summary: Delete source control configuration
      tags:
      - Source Control
      x-badges:
      - color: blue
        label: Enterprise
      - color: orange
        label: Available for classic apps only
    get:
      description: Returns the source control configuration for the organization or
        space. Requires the `source_control:read` scope.
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/_source_control_config_get_200_response'
          description: The source control configuration for the organization or space.
      summary: Get source control configuration
      tags:
      - Source Control
      x-badges:
      - color: blue
        label: Enterprise
      - color: orange
        label: Available for classic apps only
    post:
      description: Creates source control configuration for the organization or space
        and returns the created configuration. Returns an error if a configuration
        is already set. Requires the `source_control:write` scope.
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/_source_control_config_put_request'
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/_source_control_config_post_200_response'
          description: The created source control configuration.
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/_folders_post_409_response'
          description: Bad request
        "409":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/_folders_post_409_response'
          description: Configuration already exists.
      summary: Create source control configuration
      tags:
      - Source Control
      x-badges:
      - color: blue
        label: Enterprise
      - color: orange
        label: Available for classic apps only
    put:
      description: Creates or updates the source control configuration for the organization
        or space. Overwrites any existing configuration. Requires the `source_control:write`
        scope.
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/_source_control_config_put_request'
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/_source_control_config_put_200_response'
          description: The updated source control configuration.
        "201":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/_source_control_config_put_200_response'
          description: The created source control configuration.
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/_folders_post_409_response'
          description: Bad request
      summary: Set source control configuration
      tags:
      - Source Control
      x-badges:
      - color: blue
        label: Enterprise
      - color: orange
        label: Available for classic apps only
  /source_control/test_connection:
    get:
      description: Tests the connection to the source control provider and returns
        whether the connection was successful. Requires the `source_control:read`
        scope.
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/_source_control_test_connection_get_200_response'
          description: Success message.
        "422":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/_folders_post_409_response'
          description: Error message.
      summary: Test source control connection
      tags:
      - Source Control
      x-badges:
      - color: blue
        label: Enterprise
      - color: orange
        label: Available for classic apps only
  /source_control/test_deploy:
    post:
      description: Attempts a test deployment (no permanent changes) using the provided
        commit SHA to determine whether the commit is valid. Requires the `source_control:test_deploy`
        scope.
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/_source_control_test_deploy_post_request'
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/_source_control_test_deploy_post_200_response'
          description: The test deployment result with deployment logs.
      summary: Test source control changes
      tags:
      - Source Control
      x-badges:
      - color: blue
        label: Enterprise
      - color: orange
        label: Available for classic apps only
  /source_control/deploy:
    post:
      description: "Deploys the latest changes from the source control provider to\
        \ the instance. Use the GET /deployment/{id} endpoint to check the status\
        \ of the deployment. Requires the `source_control:deploy` scope."
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/_source_control_deploy_post_200_response'
          description: The ID of the triggered deployment.
      summary: Deploy latest changes
      tags:
      - Source Control
      x-badges:
      - color: blue
        label: Enterprise
      - color: orange
        label: Available for classic apps only
  /source_control/branches:
    post:
      description: "Creates a Retool branch, optionally initialized with a single\
        \ source-control element. Requires the `source_control:write` scope."
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/_source_control_branches_post_request'
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/_source_control_branches_post_200_response'
          description: The created branch.
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/_folders_post_409_response'
          description: Create branch failed.
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/_folders_post_409_response'
          description: Missing required `source_control:write` scope.
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/_folders_post_409_response'
          description: Element not found when an element is provided.
      summary: Create a branch
      tags:
      - Source Control
      x-badges:
      - color: blue
        label: Enterprise
      - color: orange
        label: Available for classic apps only
  /source_control/branches/reset:
    post:
      description: Resets a Retool app branch by discarding Retool-local branch changes
        and reloading app contents from the specified remote Git branch. Updates to
        non-page elements on the branch are not persisted. Requires the `source_control:write`
        scope.
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/_source_control_branches_reset_post_request'
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/_source_control_branches_reset_post_200_response'
          description: The reset branch result.
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/_folders_post_409_response'
          description: Reset failed.
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/_folders_post_409_response'
          description: Branch not found.
      summary: Reset a branch from remote
      tags:
      - Source Control
      x-badges:
      - color: blue
        label: Enterprise
      - color: orange
        label: Available for classic apps only
  /source_control/deployment/{id}:
    get:
      description: Returns the status of the specified deployment. Requires the `source_control:deploy`
        scope.
      parameters:
      - explode: false
        in: path
        name: id
        required: true
        schema:
          description: The deployment ID
          format: uuid
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/_source_control_deploy_post_200_response'
          description: The deployment status.
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/_folders_post_409_response'
          description: Deployment not found
      summary: Get a deployment
      tags:
      - Source Control
      x-badges:
      - color: blue
        label: Enterprise
      - color: orange
        label: Available for classic apps only
  /source_control/deployments:
    get:
      description: Returns a list of source control deployments in reverse chronological
        order. Returns the same data shown in the deploy dashboard. Requires the `source_control:deploy`
        scope.
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/_source_control_deployments_get_200_response'
          description: A list of source control deployments.
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/_folders_post_409_response'
          description: Source control settings not found
      summary: List source control deployments
      tags:
      - Source Control
      x-badges:
      - color: blue
        label: Enterprise
      - color: orange
        label: Available for classic apps only
  /source_control/settings:
    get:
      description: Returns the source control settings for the organization or space.
        Requires the `source_control:read` scope.
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/_source_control_settings_get_200_response'
          description: Source control settings for the organization or space.
      summary: Get source control settings
      tags:
      - Source Control
      x-badges:
      - color: blue
        label: Enterprise
      - color: orange
        label: Available for classic apps only
    put:
      description: Creates or updates source control settings for the organization
        or space. Overwrites any existing settings. Requires the `source_control:write`
        scope.
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/_source_control_settings_put_request'
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/_source_control_settings_put_200_response'
          description: Updated source control settings for the organization or space.
        "201":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/_source_control_settings_put_200_response'
          description: Created source control settings for the organization or space.
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/_folders_post_409_response'
          description: Error message.
      summary: Set source control settings
      tags:
      - Source Control
      x-badges:
      - color: blue
        label: Enterprise
      - color: orange
        label: Available for classic apps only
  /source_control/manifests:
    get:
      description: Returns a list of all release manifests available in the source
        control repository. Requires the `source_control:releases_read` scope.
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/_source_control_manifests_get_200_response'
          description: A list of release manifests.
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/_folders_post_409_response'
          description: Error message.
      summary: List release manifests
      tags:
      - Release Management
      x-badges:
      - color: blue
        label: Enterprise
  /source_control/manifests/{manifestName}:
    get:
      description: Returns the release manifest with the specified name from the source
        control repository. Requires the `source_control:releases_read` scope.
      parameters:
      - explode: false
        in: path
        name: manifestName
        required: true
        schema:
          description: Identifier for the manifest of interest
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/_source_control_manifests__manifestName__get_200_response'
          description: The requested release manifest.
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/_folders_post_409_response'
          description: Error message.
      summary: Get a release manifest
      tags:
      - Release Management
      x-badges:
      - color: blue
        label: Enterprise
    put:
      description: "Pushes a branch to the source control repository that creates\
        \ or updates the named release manifest. If the manifest exists, it will be\
        \ overwritten in the branch. Requires the `source_control:releases_write`\
        \ scope."
      parameters:
      - explode: false
        in: path
        name: manifestName
        required: true
        schema:
          description: Identifier for the manifest of interest
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/_source_control_manifests__manifestName__put_request'
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/_source_control_manifests__manifestName__put_200_response'
          description: The branch pushed with the named release manifest.
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/_folders_post_409_response'
          description: Error message.
      summary: Set release manifest
      tags:
      - Release Management
      x-badges:
      - color: blue
        label: Enterprise
  /source_control/manifests/{manifestName}/delete:
    post:
      description: Pushes a branch to the source control repository that deletes the
        named release manifest. Requires the `source_control:releases_write` scope.
      parameters:
      - explode: false
        in: path
        name: manifestName
        required: true
        schema:
          description: Identifier for the manifest of interest
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/_source_control_manifests__manifestName__delete_post_request'
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/_source_control_manifests__manifestName__put_200_response'
          description: The branch pushed to delete the named release manifest.
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/_folders_post_409_response'
          description: Error message.
      summary: Delete a release manifest
      tags:
      - Release Management
      x-badges:
      - color: blue
        label: Enterprise
  /source_control/manifests/{manifestName}/apps/{appUuid}:
    put:
      deprecated: true
      description: "NOTE: This endpoint is deprecated. Use the PUT /manifests/{manifestName}/{elementUuid}\
        \ endpoint instead. \n\nPushes a branch to the source control repository that\
        \ updates the release version of the specified app in the named release manifest.\
        \ If the manifest does not already exist, it will be created in the branch.\
        \ Requires the `source_control:releases_write` scope."
      parameters:
      - explode: false
        in: path
        name: appUuid
        required: true
        schema:
          description: "The uuid to specify an app of interest within the release\
            \ manifest. This should be the uuid found in the source control repository,\
            \ which may differ from the organization specific uuid."
          format: uuid
          type: string
        style: simple
      - explode: false
        in: path
        name: manifestName
        required: true
        schema:
          description: Identifier for the manifest of interest
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/_source_control_manifests__manifestName__apps__appUuid__put_request'
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/_source_control_manifests__manifestName__put_200_response'
          description: Pushed a branch with the updated release version for the specified
            app in the named release manifest.
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/_folders_post_409_response'
          description: Error message.
      summary: Set release configuration for app in manifest
      tags:
      - Release Management
      x-badges:
      - color: blue
        label: Enterprise
  /source_control/manifests/{manifestName}/{elementUuid}:
    put:
      description: "Pushes a branch to the source control repository that updates\
        \ the release version of the specified element in the named release manifest.\
        \ If the manifest does not already exist, it will be created in the branch.\
        \ Requires the `source_control:releases_write` scope."
      parameters:
      - explode: false
        in: path
        name: elementUuid
        required: true
        schema:
          description: The uuid to specify an element of interest within the release
            manifest.
          format: uuid
          type: string
        style: simple
      - explode: false
        in: path
        name: manifestName
        required: true
        schema:
          description: Identifier for the manifest of interest
          type: string
        style: simple
      - explode: true
        in: query
        name: elementType
        required: true
        schema:
          description: The type of the element.
          enum:
          - PAGE
          - WORKFLOW
          type: string
        style: form
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/_source_control_manifests__manifestName__apps__appUuid__put_request'
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/_source_control_manifests__manifestName__put_200_response'
          description: Pushed a branch with the updated release version for the specified
            element in the named release manifest.
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/_folders_post_409_response'
          description: Error message.
      summary: Set release version for element in manifest
      tags:
      - Release Management
      x-badges:
      - color: blue
        label: Enterprise
  /source_control/manifests/{manifestName}/apps/{appUuid}/delete:
    post:
      deprecated: true
      description: "NOTE: This endpoint is deprecated. Use the POST /manifests/{manifestName}/{elementUuid}/delete\
        \ endpoint instead. \n\nPushes a branch to the source control repository that\
        \ deletes the entry for the specified app from the named release manifest.\
        \ Requires the `source_control:releases_write` scope."
      parameters:
      - explode: false
        in: path
        name: appUuid
        required: true
        schema:
          description: "The uuid to specify an app of interest within the release\
            \ manifest. This should be the uuid found in the source control repository,\
            \ which may differ from the organization specific uuid."
          format: uuid
          type: string
        style: simple
      - explode: false
        in: path
        name: manifestName
        required: true
        schema:
          description: Identifier for the manifest of interest
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/_source_control_manifests__manifestName__delete_post_request'
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/_source_control_manifests__manifestName__put_200_response'
          description: Pushed a branch that removes the entry for the specified app
            from the named release manifest.
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/_folders_post_409_response'
          description: Error message.
      summary: Delete the entry for an app from a release manifest
      tags:
      - Release Management
      x-badges:
      - color: blue
        label: Enterprise
  /source_control/manifests/{manifestName}/{elementUuid}/delete:
    post:
      description: Pushes a branch to the source control repository that deletes the
        entry for the specified element from the named release manifest. Requires
        the `source_control:releases_write` scope.
      parameters:
      - explode: false
        in: path
        name: elementUuid
        required: true
        schema:
          description: The uuid to specify an element of interest within the release
            manifest.
          format: uuid
          type: string
        style: simple
      - explode: false
        in: path
        name: manifestName
        required: true
        schema:
          description: Identifier for the manifest of interest
          type: string
        style: simple
      - explode: true
        in: query
        name: elementType
        required: true
        schema:
          description: The type of the element.
          enum:
          - PAGE
          - WORKFLOW
          type: string
        style: form
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/_source_control_manifests__manifestName__delete_post_request'
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/_source_control_manifests__manifestName__put_200_response'
          description: Pushed a branch that removes the entry for the specified element
            from the named release manifest.
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/_folders_post_409_response'
          description: Error message.
      summary: Delete element from release manifest
      tags:
      - Release Management
      x-badges:
      - color: blue
        label: Enterprise
  /source_control/releases/apps/{appUuid}:
    get:
      deprecated: true
      description: "NOTE: This endpoint is deprecated. Use the GET /releases/{elementUuid}\
        \ endpoint instead. \n\nReturns a list of the available releases for the app.\
        \ Requires the `source_control:releases_read` scope."
      parameters:
      - explode: false
        in: path
        name: appUuid
        required: true
        schema:
          description: The uuid of the app.
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/_source_control_releases_apps__appUuid__get_200_response'
          description: List of source control releases.
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/_folders_post_409_response'
          description: Error message.
      summary: List all available releases for the given app
      tags:
      - Release Management
      x-badges:
      - color: blue
        label: Enterprise
    post:
      deprecated: true
      description: "NOTE: This endpoint is deprecated. Use the POST /releases/{elementUuid}\
        \ endpoint instead. \n\nPushes a branch to the source control repository that\
        \ creates a new release artifact with the provided version for the app based\
        \ on the latest version. Requires the `source_control:releases_write` scope."
      parameters:
      - explode: false
        in: path
        name: appUuid
        required: true
        schema:
          description: The uuid of the app.
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/_source_control_releases_apps__appUuid__post_request'
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/_source_control_manifests__manifestName__put_200_response'
          description: Pushed a branch with the new release artifact
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/_folders_post_409_response'
          description: Error message.
      summary: Create a release artifact
      tags:
      - Release Management
      x-badges:
      - color: blue
        label: Enterprise
  /source_control/releases/{elementUuid}:
    get:
      description: Returns a list of the available releases for the element. Requires
        the `source_control:releases_read` scope.
      parameters:
      - explode: false
        in: path
        name: elementUuid
        required: true
        schema:
          description: The uuid of the element.
          type: string
        style: simple
      - explode: true
        in: query
        name: elementType
        required: true
        schema:
          description: The type of the element.
          enum:
          - PAGE
          - WORKFLOW
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/_source_control_releases_apps__appUuid__get_200_response'
          description: A list of source control releases for the given element.
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/_folders_post_409_response'
          description: Error message.
      summary: List all available releases for the given element
      tags:
      - Release Management
      x-badges:
      - color: blue
        label: Enterprise
    post:
      description: Pushes a branch to the source control repository that creates a
        new release artifact with the provided version for the element based on the
        latest version. Requires the `source_control:releases_write` scope.
      parameters:
      - explode: false
        in: path
        name: elementUuid
        required: true
        schema:
          description: The uuid of the element.
          type: string
        style: simple
      - explode: true
        in: query
        name: elementType
        required: true
        schema:
          description: The type of the element.
          enum:
          - PAGE
          - WORKFLOW
          type: string
        style: form
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/_source_control_releases_apps__appUuid__post_request'
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/_source_control_manifests__manifestName__put_200_response'
          description: Pushed a branch with the new release artifact
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/_folders_post_409_response'
          description: Error message.
      summary: Create a release artifact
      tags:
      - Release Management
      x-badges:
      - color: blue
        label: Enterprise
  /app_themes/{id}:
    delete:
      description: Deletes the specified app theme. Requires the `app_themes:write`
        scope.
      parameters:
      - explode: false
        in: path
        name: id
        required: true
        schema:
          type: string
        style: simple
      responses:
        "204":
          description: The app theme has been successfully deleted.
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/_folders_post_409_response'
          description: The app theme was not found.
      summary: Delete an app theme
      tags:
      - App Themes
      x-badges:
      - color: blue
        label: Enterprise
      - color: orange
        label: Available for classic apps only
    get:
      description: Returns the specified app theme. Requires the `app_themes:read`
        scope.
      parameters:
      - explode: false
        in: path
        name: id
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/_app_themes__id__get_200_response'
          description: The requested app theme.
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/_folders_post_409_response'
          description: App theme does not exist.
      summary: Get an app theme
      tags:
      - App Themes
      x-badges:
      - color: blue
        label: Enterprise
      - color: orange
        label: Available for classic apps only
  /app_themes:
    get:
      description: Returns all app themes for the organization or space. Requires
        the `app_themes:read` scope.
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/_app_themes_get_200_response'
          description: A list of app themes.
      summary: List app themes
      tags:
      - App Themes
      x-badges:
      - color: blue
        label: Enterprise
      - color: orange
        label: Available for classic apps only
    post:
      description: "Creates a new app theme and returns the created theme. If a theme\
        \ with the same name already exists, returns 409 without modifying the existing\
        \ theme. Requires the `app_themes:write` scope."
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/_app_themes_get_200_response_data_inner'
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/_app_themes_put_200_response'
          description: The created app theme.
        "409":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/_folders_post_409_response'
          description: A theme with the same name already exists.
      summary: Create an app theme
      tags:
      - App Themes
      x-badges:
      - color: blue
        label: Enterprise
      - color: orange
        label: Available for classic apps only
    put:
      description: Creates or updates an app theme and returns the theme. Requires
        the `app_themes:write` scope.
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/_app_themes_get_200_response_data_inner'
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/_app_themes_put_200_response'
          description: The updated app theme.
        "201":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/_app_themes_put_200_response'
          description: The created app theme.
        "409":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/_folders_post_409_response'
          description: A theme with the same name already exists.
      summary: Update an app theme
      tags:
      - App Themes
      x-badges:
      - color: blue
        label: Enterprise
      - color: orange
        label: Available for classic apps only
  /apps/{appId}:
    delete:
      description: Deletes the specified app. Requires the `apps:write` scope.
      parameters:
      - explode: false
        in: path
        name: appId
        required: true
        schema:
          description: The app ID.
          format: uuid
          type: string
        style: simple
      responses:
        "204":
          description: The app has been successfully deleted.
      summary: Delete an app
      tags:
      - Apps
      x-badges:
      - color: blue
        label: Enterprise
    get:
      description: Returns the specified app. Requires the `apps:read` scope.
      parameters:
      - explode: false
        in: path
        name: appId
        required: true
        schema:
          description: The app ID.
          format: uuid
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/_apps__appId__get_200_response'
          description: The requested app.
      summary: Get an app
      tags:
      - Apps
      x-badges:
      - color: blue
        label: Enterprise
  /apps:
    get:
      description: Returns a list of apps. Requires the `apps:read` scope.
      parameters:
      - explode: true
        in: query
        name: using_resource
        required: false
        schema:
          $ref: '#/components/schemas/_apps_get_using_resource_parameter'
        style: form
      - explode: true
        in: query
        name: name_contains
        required: false
        schema:
          description: Filter apps whose name contains this value (case-insensitive).
          example: dashboard
          maxLength: 255
          minLength: 1
          type: string
        style: form
      - explode: true
        in: query
        name: limit
        required: false
        schema:
          description: "Maximum number of items to return per page. If not provided,\
            \ all items are returned. When provided, enables pagination and the response\
            \ will include next_token for retrieving subsequent pages. Valid range:\
            \ 1-100."
          example: 50
          maximum: 100
          minimum: 1
          type: integer
        style: form
      - explode: true
        in: query
        name: next_token
        required: false
        schema:
          description: Cursor token for retrieving the next page of results. Obtained
            from the next_token field of a previous paginated response. Only valid
            when the limit parameter is also provided.
          example: eyJsYXN0SWQiOjEyM30...
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/_apps_get_200_response'
          description: A list of apps.
      summary: List apps
      tags:
      - Apps
      x-badges:
      - color: blue
        label: Enterprise
  /apps/cloneApp:
    post:
      description: Creates a copy of an existing app in the specified folder and returns
        the cloned app. Requires the `apps:write` scope.
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/_apps_cloneApp_post_request'
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/_apps__appId__get_200_response'
          description: The newly cloned app.
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/_folders_post_409_response'
          description: App to clone from could not be found.
      summary: Clone an app
      tags:
      - Apps
      x-badges:
      - color: blue
        label: Enterprise
  /apps/toolscript/validate:
    post:
      description: Validates serialized Toolscript by attempting to deserialize the
        provided files. Requires the `apps:read` scope.
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/_apps_toolscript_validate_post_request'
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/_apps_toolscript_validate_post_200_response'
          description: The Toolscript validation result.
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/_folders_post_409_response'
          description: Invalid Toolscript request.
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/_folders_post_409_response'
          description: Missing required `apps:read` scope.
      summary: Validate Toolscript
      tags:
      - Apps
      x-badges:
      - color: blue
        label: Enterprise
  /sso/config:
    delete:
      description: Removes the SSO configuration for the organization or space. Note
        that this will not remove SSO configurations configured via environment variables.
        Requires the `spaces:write` scope.
      responses:
        "204":
          description: SSO configuration for the organization or space has been successfully
            removed.
      summary: Remove SSO configuration
      tags:
      - SSO
      x-badges:
      - color: blue
        label: Enterprise
    get:
      description: Returns the SSO configuration for the organization or space. Note
        that this will not return SSO configurations configured via environment variables.
        Requires the `spaces:read` scope.
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/_sso_config_get_200_response'
          description: SSO configuration for the organization or space.
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/_folders_post_409_response'
          description: SSO is not configured for this organization or space.
        "422":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/_folders_post_409_response'
          description: The organization has unsupported type of SSO configurations.
      summary: Get SSO configuration
      tags:
      - SSO
      x-badges:
      - color: blue
        label: Enterprise
    post:
      description: Sets the SSO configuration for the organization or space. Requires
        the `spaces:write` scope.
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/_sso_config_post_request'
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/_sso_config_post_200_response'
          description: SSO configuration for the organization or space.
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/_folders_post_409_response'
          description: Error
      summary: Set SSO configuration
      tags:
      - SSO
      x-badges:
      - color: blue
        label: Enterprise
  /user_attributes:
    get:
      description: Returns a list of currently configured user attributes for the
        organization. Requires the `users:read` or `user_attributes:read` scope.
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/_user_attributes_get_200_response'
          description: A list of currently configured user attributes.
      summary: List organization user attributes
      tags:
      - User Attributes
      x-badges:
      - color: green
        label: Business
      - color: blue
        label: Enterprise
    post:
      description: Creates a new user attribute for the organization and returns the
        created user attribute. Requires the `user_attributes:write` scope.
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/_user_attributes_post_request'
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/_user_attributes_post_200_response'
          description: The created user attribute.
        "409":
          description: A user attribute with the provided name already exists.
      summary: Create an organization user attribute
      tags:
      - User Attributes
      x-badges:
      - color: green
        label: Business
      - color: blue
        label: Enterprise
  /user_attributes/{id}:
    delete:
      description: Deletes an organization user attribute. Optionally also deletes
        it from any users if specified by the `update_existing_users` query parameter.
        Requires the `user_attributes:write` scope.
      parameters:
      - explode: false
        in: path
        name: id
        required: true
        schema:
          description: The id of the user attribute.
          format: uuid
          type: string
        style: simple
      - explode: true
        in: query
        name: update_existing_users
        required: false
        schema:
          description: Whether to update existing users with the deleted attribute.
          enum:
          - "true"
          - "false"
          type: string
        style: form
      responses:
        "204":
          description: The user attribute has been successfully deleted.
      summary: Delete an organization user attribute
      tags:
      - User Attributes
      x-badges:
      - color: green
        label: Business
      - color: blue
        label: Enterprise
    patch:
      description: Updates an organization user attribute and returns the updated
        user attribute. Requires the `user_attributes:write` scope.
      parameters:
      - explode: false
        in: path
        name: id
        required: true
        schema:
          description: The id of the user attribute.
          format: uuid
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/_user_attributes__id__patch_request'
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/_user_attributes__id__patch_200_response'
          description: The updated user attribute.
      summary: Update an organization user attribute
      tags:
      - User Attributes
      x-badges:
      - color: green
        label: Business
      - color: blue
        label: Enterprise
  /permissions/accessList/{objectType}/{objectId}:
    get:
      description: "Returns a list of users and groups with their access levels for\
        \ the specified folder, app, resource, workflow, or agent. Requires the `permissions:read`\
        \ scope."
      parameters:
      - explode: false
        in: path
        name: objectId
        required: true
        schema:
          description: Object ID. Apps can be accessed by numeric id or UUID. Folders
            can be accessed by numeric id. Resources use the API resource id/name.
          type: string
        style: simple
      - explode: false
        in: path
        name: objectType
        required: true
        schema:
          enum:
          - app
          - folder
          - resource
          - workflow
          - agent
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/_permissions_accessList__objectType___objectId__get_200_response'
          description: "A list of users, user invites, and groups with access to the\
            \ object."
      summary: Get an access list
      tags:
      - Permissions
      x-badges:
      - color: blue
        label: Enterprise
  /permissions/listObjects:
    post:
      description: Returns a list of objects with corresponding access levels that
        a subject (group or user) has access to. Requires the `permissions:read` scope.
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/_permissions_listObjects_post_request'
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/_permissions_listObjects_post_200_response'
          description: A list of folders with corresponding access levels.
      summary: List objects a group can access
      tags:
      - Permissions
      x-badges:
      - color: blue
        label: Enterprise
  /permissions/grant:
    post:
      description: "Grants a group or user access to an object and returns the updated\
        \ list of objects with corresponding access levels. Also grants or updates\
        \ access for all objects directly under the folder, but does not cascade to\
        \ subfolders. Requires the `permissions:write` scope."
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/_permissions_grant_post_request'
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/_permissions_grant_post_200_response'
          description: A list of folders with corresponding access levels.
      summary: Grant permissions
      tags:
      - Permissions
      x-badges:
      - color: blue
        label: Enterprise
  /permissions/revoke:
    post:
      description: "Revokes access to an object for a group or user and returns the\
        \ updated list of objects with corresponding access levels. Also revokes access\
        \ for all objects directly under the folder, but does not cascade to subfolders.\
        \ Requires the `permissions:write` scope."
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/_permissions_revoke_post_request'
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/_permissions_grant_post_200_response'
          description: A list of folders with corresponding access levels.
      summary: Revoke permissions
      tags:
      - Permissions
      x-badges:
      - color: blue
        label: Enterprise
  /role_permissions/roles:
    get:
      description: Returns a list of roles. Requires the `permissions:read` scope.
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/_role_permissions_roles_get_200_response'
          description: A paginated list of roles.
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/_folders_post_409_response'
          description: Authentication failure
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/_folders_post_409_response'
          description: "Forbidden: API token is missing scope"
      summary: List roles
      tags:
      - Permissions
      x-badges:
      - color: blue
        label: Enterprise
    post:
      description: Creates a role and returns the created role. Requires the `permissions:write`
        scope.
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/_role_permissions_roles_post_request'
      responses:
        "201":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/_role_permissions_roles_post_201_response'
          description: The created role.
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/_folders_post_409_response'
          description: 'Missing required body parameter:'
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/_folders_post_409_response'
          description: Authentication failure
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/_folders_post_409_response'
          description: "Forbidden: API token is missing scope"
        "409":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/_folders_post_409_response'
          description: An object with the given value already exists.
        "422":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/_folders_post_409_response'
          description: Encountered ValidationError when processing your request.
      summary: Create a role
      tags:
      - Permissions
      x-badges:
      - color: blue
        label: Enterprise
  /role_permissions/roles/{roleId}:
    delete:
      description: Deletes the specified role. Requires the `permissions:write` scope.
      parameters:
      - explode: false
        in: path
        name: roleId
        required: true
        schema:
          description: The id of the role
          format: uuid
          type: string
        style: simple
      responses:
        "204":
          description: The role has been successfully deleted.
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/_folders_post_409_response'
          description: Cannot delete default role.
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/_folders_post_409_response'
          description: Authentication failure
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/_folders_post_409_response'
          description: "Forbidden: API token is missing scope"
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/_folders_post_409_response'
          description: "Role with id {roleId} not found."
      summary: Delete a role
      tags:
      - Permissions
      x-badges:
      - color: blue
        label: Enterprise
    patch:
      description: Updates a role and returns the updated role. Requires the `permissions:write`
        scope.
      parameters:
      - explode: false
        in: path
        name: roleId
        required: true
        schema:
          description: The id of the role
          format: uuid
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/_role_permissions_roles__roleId__patch_request'
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/_role_permissions_roles_post_201_response'
          description: The updated role.
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/_folders_post_409_response'
          description: 'Missing required body parameter:'
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/_folders_post_409_response'
          description: Authentication failure
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/_folders_post_409_response'
          description: "Forbidden: API token is missing scope"
      summary: Update a role
      tags:
      - Permissions
      x-badges:
      - color: blue
        label: Enterprise
  /role_permissions/role_grants/{roleGrantId}:
    delete:
      description: Deletes the specified role grant. Requires the `permissions:write`
        scope.
      parameters:
      - explode: false
        in: path
        name: roleGrantId
        required: true
        schema:
          description: The id of the role grant
          format: uuid
          type: string
        style: simple
      responses:
        "204":
          description: The role grant has been successfully deleted.
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/_folders_post_409_response'
          description: Authentication failure
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/_folders_post_409_response'
          description: "Forbidden: API token is missing scope"
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/_folders_post_409_response'
          description: "Role grant with id {roleGrantId} not found."
      summary: Delete a role grant
      tags:
      - Permissions
      x-badges:
      - color: blue
        label: Enterprise
  /role_permissions/role_grants:
    get:
      description: Returns a list of role grants. Requires the `permissions:read`
        scope.
      responses:
        "200":
          description: A list of role grants.
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/_folders_post_409_response'
          description: Authentication failure
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/_folders_post_409_response'
          description: "Forbidden: API token is missing scope"
      summary: List role grants
      tags:
      - Permissions
      x-badges:
      - color: blue
        label: Enterprise
    post:
      description: Creates a role grant. Requires the `permissions:write` scope.
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/_role_permissions_role_grants_post_request'
      responses:
        "201":
          description: The created role grant.
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/_folders_post_409_response'
          description: 'Missing required body parameter:'
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/_folders_post_409_response'
          description: Authentication failure
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/_folders_post_409_response'
          description: "Forbidden: API token is missing scope"
      summary: Create a role grant
      tags:
      - Permissions
      x-badges:
      - color: blue
        label: Enterprise
  /role_permissions/role_grants/{subjectType}/{subjectId}:
    get:
      description: Returns a list of role grants for the specified subject. Requires
        the `permissions:read` scope.
      parameters:
      - explode: false
        in: path
        name: subjectType
        required: true
        schema:
          description: The type of the subject
          type: string
        style: simple
      - explode: false
        in: path
        name: subjectId
        required: true
        schema:
          description: The id of the subject
          type: string
        style: simple
      responses:
        "200":
          description: A list of role grants.
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/_folders_post_409_response'
          description: Authentication failure
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/_folders_post_409_response'
          description: "Forbidden: API token is missing scope"
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/_folders_post_409_response'
          description: "Subject with id {subjectId} not found."
      summary: Get role grants for a subject
      tags:
      - Permissions
      x-badges:
      - color: blue
        label: Enterprise
  /role_permissions/remove_role_grants_for_subject/:
    post:
      description: Deletes a role grant for the specified subject. Also deletes role
        grants for the subject with objects if object info is provided. Requires the
        `permissions:write` scope.
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/_role_permissions_role_grants_post_request'
      responses:
        "204":
          description: The role grant has been successfully deleted.
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/_folders_post_409_response'
          description: 'Missing required body parameter:'
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/_folders_post_409_response'
          description: Authentication failure
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/_folders_post_409_response'
          description: "Forbidden: API token is missing scope"
      summary: Delete a role grant for a subject
      tags:
      - Permissions
      x-badges:
      - color: blue
        label: Enterprise
  /access_requests:
    get:
      description: Returns a list of access requests for the organization. Requires
        the `users:read` scope.
      parameters:
      - explode: true
        in: query
        name: status
        required: false
        schema:
          description: The status of the access request
          enum:
          - PENDING
          - APPROVED
          - DENIED
          type: string
        style: form
      - explode: true
        in: query
        name: limit
        required: false
        schema:
          description: "Maximum number of items to return per page. If not provided,\
            \ all items are returned. When provided, enables pagination and the response\
            \ will include next_token for retrieving subsequent pages. Valid range:\
            \ 1-100."
          example: 50
          maximum: 100
          minimum: 1
          type: integer
        style: form
      - explode: true
        in: query
        name: next_token
        required: false
        schema:
          description: Cursor token for retrieving the next page of results. Obtained
            from the next_token field of a previous paginated response. Only valid
            when the limit parameter is also provided.
          example: eyJsYXN0SWQiOjEyM30...
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/_access_requests_get_200_response'
          description: A list of access requests.
      summary: List access requests
      tags:
      - Access Requests
      x-badges:
      - color: blue
        label: Enterprise
  /access_requests/{accessRequestId}:
    get:
      description: Returns the specified access request. Requires the `users:read`
        scope.
      parameters:
      - explode: false
        in: path
        name: accessRequestId
        required: true
        schema:
          description: The access request's ID number
          pattern: ^\d+$
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/_access_requests__accessRequestId__get_200_response'
          description: The requested access request.
      summary: Get an access request
      tags:
      - Access Requests
      x-badges:
      - color: blue
        label: Enterprise
    patch:
      description: Approves or denies an access request and returns the updated access
        request. Requires the `users:write` scope.
      parameters:
      - explode: false
        in: path
        name: accessRequestId
        required: true
        schema:
          description: The ID of the access request
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/_access_requests__accessRequestId__patch_request'
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/_access_requests__accessRequestId__patch_200_response'
          description: The approved or denied access request.
      summary: Approve or deny an access request
      tags:
      - Access Requests
      x-badges:
      - color: blue
        label: Enterprise
  /access_tokens:
    get:
      description: Returns a list of access tokens in the organization. Requires the
        `access_tokens:read` scope.
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/_access_tokens_get_200_response'
          description: A list of access tokens.
      summary: List access tokens
      tags:
      - Access Tokens
      x-badges:
      - color: blue
        label: Enterprise
    post:
      description: Creates an access token with the specified scopes and returns the
        created access token. Requires the `access_tokens:write` scope.
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/_access_tokens_post_request'
      responses:
        "200":
          content:
            application/json:
              schema:
[...]
