---
version: 2
interactions:
    - id: 0
      request:
        host: recorded.retool.dev
        body: ""
        form: {}
        headers:
        url: https://recorded.retool.dev/api/v2/folders
        method: GET
      response:
        body: '{"success":true,"data":[{"id":"agent_6","legacy_id":"agent_6","name":"root","parent_folder_id":null,"is_system_folder":true,"folder_type":"agent","updated_at":"2025-09-24T22:21:33.564Z","created_at":"2025-09-24T22:21:33.564Z"},{"id":"app_1","legacy_id":"app_1","name":"root","parent_folder_id":null,"is_system_folder":true,"folder_type":"app","updated_at":"2025-09-24T22:21:33.543Z","created_at":"2025-09-24T22:21:33.543Z"},{"id":"app_10","legacy_id":"app_10","name":"(2) annie j''s Drafts","parent_folder_id":"app_3","is_system_folder":true,"folder_type":"app","updated_at":"2025-09-24T23:52:53.858Z","created_at":"2025-09-24T23:52:53.858Z"},{"id":"app_11","legacy_id":"app_11","name":"(2) annie j'[...]
[...]
    - id: 2
      request:
        host: recorded.retool.dev
        body: |
            {"account_details_access":false,"audit_log_access":false,"name":"tf-acc-test-group-managed-del","universal_app_access":"none","universal_query_library_access":"none","universal_resource_access":"none","universal_workflow_access":"none","unpublished_release_access":false,"usage_analytics_access":false,"user_list_access":false}
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://recorded.retool.dev/api/v2/groups
        method: POST
      response:
        body: '{"success":true,"data":{"id":35,"legacy_id":35,"name":"tf-acc-test-group-managed-del","members":[],"universal_app_access":"none","universal_resource_access":"none","universal_workflow_access":"none","universal_query_library_access":"none","user_invites":[],"user_list_access":false,"audit_log_access":false,"unpublished_release_access":false,"usage_analytics_access":false,"theme_access":false,"account_details_access":false,"landing_page_app_id":null,"updated_at":"2025-10-02T22:37:14.239Z","created_at":"2025-10-02T22:37:14.239Z"}}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
        status: 200 OK
        code: 200
        duration: 122.507708ms
[...]
    - id: 5
      request:
        host: recorded.retool.dev
        body: |
            {"access_level":"use","object":{"id":"app_63","type":"folder"},"subject":{"id":35,"type":"group"}}
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://recorded.retool.dev/api/v2/permissions/grant
        method: POST
      response:
        body: '{"success":true,"data":[{"type":"folder","id":"app_63","access_level":"use"}],"total_count":1,"next_token":null,"has_more":false}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
        status: 200 OK
        code: 200
        duration: 116.231416ms
    - id: 6
      request:
        host: recorded.retool.dev
        body: ""
        form: {}
        headers:
        url: https://recorded.retool.dev/api/v2/folders/app_63
        method: GET
      response:
        body: '{"success":true,"data":{"id":"app_63","legacy_id":"app_63","name":"tf-acc-test-folder-managed-1","parent_folder_id":"app_1","is_system_folder":false,"folder_type":"app","updated_at":"2025-10-02T22:37:14.318Z","created_at":"2025-10-02T22:37:14.318Z"}}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
        status: 200 OK
        code: 200
        duration: 61.961333ms
[...]
    - id: 8
      request:
        host: recorded.retool.dev
        body: ""
        form: {}
        headers:
        url: https://recorded.retool.dev/api/v2/groups/35
        method: GET
      response:
        body: '{"success":true,"data":{"id":35,"legacy_id":35,"name":"tf-acc-test-group-managed-del","members":[],"universal_app_access":"none","universal_resource_access":"none","universal_workflow_access":"none","universal_query_library_access":"none","user_invites":[],"user_list_access":false,"audit_log_access":false,"unpublished_release_access":false,"usage_analytics_access":false,"theme_access":false,"account_details_access":false,"landing_page_app_id":null,"updated_at":"2025-10-02T22:37:14.239Z","created_at":"2025-10-02T22:37:14.239Z"}}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
        status: 200 OK
        code: 200
        duration: 68.168ms
[...]
    - id: 11
      request:
        host: recorded.retool.dev
        body: |
            {"object_type":"app","subject":{"id":35,"type":"group"}}
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://recorded.retool.dev/api/v2/permissions/listObjects
        method: POST
      response:
        body: '{"success":true,"data":[],"total_count":0,"next_token":null,"has_more":false}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
        status: 200 OK
        code: 200
        duration: 64.44925ms
[...]
    - id: 24
      request:
        host: recorded.retool.dev
        body: |
            {"object":{"id":"app_63","type":"folder"},"subject":{"id":35,"type":"group"}}
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://recorded.retool.dev/api/v2/permissions/revoke
        method: POST
      response:
        body: '{"success":true,"data":[{"type":"folder","id":"app_62","access_level":"edit"}],"total_count":1,"next_token":null,"has_more":false}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
        status: 200 OK
        code: 200
        duration: 116.298375ms
[...]
    - id: 31
      request:
        host: recorded.retool.dev
        body: |
            {"recursive":true}
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://recorded.retool.dev/api/v2/folders/app_62
        method: DELETE
      response:
        body: ""
        headers: {}
        status: 204 No Content
        code: 204
        duration: 80.043042ms
[...]
