---
version: 2
interactions:
    - id: 0
      request:
        host: recorded.retool.dev
        body: |
            {"active":true,"email":"tf-acc-defaults-v3@example.retool.com","first_name":"Default","last_name":"User"}
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://recorded.retool.dev/api/v2/users
        method: POST
      response:
        body: '{"success":true,"data":{"id":"user_c75404d0c49342f795bc71d6d4f997a5","legacy_id":29,"first_name":"Default","last_name":"User","created_at":"2025-11-11T00:58:58.722Z","last_active":null,"email":"tf-acc-defaults-v3@example.retool.com","active":true,"metadata":{},"is_admin":false,"two_factor_auth_enabled":false,"user_type":"default"}}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
        status: 200 OK
        code: 200
        duration: 112.135542ms
    - id: 1
      request:
        host: recorded.retool.dev
        body: ""
        form: {}
        headers:
        url: https://recorded.retool.dev/api/v2/users/user_c75404d0c49342f795bc71d6d4f997a5
        method: GET
      response:
        body: '{"success":true,"data":{"id":"user_c75404d0c49342f795bc71d6d4f997a5","legacy_id":29,"first_name":"Default","last_name":"User","created_at":"2025-11-11T00:58:58.722Z","last_active":null,"email":"tf-acc-defaults-v3@example.retool.com","active":true,"metadata":{},"is_admin":false,"two_factor_auth_enabled":false,"user_type":"default"}}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
        status: 200 OK
        code: 200
        duration: 126.883625ms
[...]
