---
version: 2
interactions:
    - id: 0
      request:
        host: recorded.retool.dev
        body: |
            {"description":"Terraform acceptance test configuration variable","name":"tf-acc-test-configuration-variable","secret":false,"values":[{"environment_id":"23ba02f3-12c2-456e-826f-13b616daa5ce","value":"value1"},{"environment_id":"fc4a3c5b-6328-4990-b368-6879a1f38855","value":"value2"}]}
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://recorded.retool.dev/api/v2/configuration_variables
        method: POST
      response:
        body: '{"success":true,"data":{"id":"53fa8805-2cb9-4943-a08b-f4de8f94e33b","name":"tf-acc-test-configuration-variable","description":"Terraform acceptance test configuration variable","secret":false,"values":[{"environment_id":"23ba02f3-12c2-456e-826f-13b616daa5ce","value":"value1"},{"environment_id":"fc4a3c5b-6328-4990-b368-6879a1f38855","value":"value2"}],"default_value":null}}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
        status: 200 OK
        code: 200
        duration: 98.639333ms
    - id: 1
      request:
        host: recorded.retool.dev
        body: ""
        form: {}
        headers:
        url: https://recorded.retool.dev/api/v2/configuration_variables/53fa8805-2cb9-4943-a08b-f4de8f94e33b
        method: GET
      response:
        body: '{"success":true,"data":{"id":"53fa8805-2cb9-4943-a08b-f4de8f94e33b","name":"tf-acc-test-configuration-variable","description":"Terraform acceptance test configuration variable","secret":false,"values":[{"environment_id":"23ba02f3-12c2-456e-826f-13b616daa5ce","value":"value1"},{"environment_id":"fc4a3c5b-6328-4990-b368-6879a1f38855","value":"value2"}],"default_value":null}}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
        status: 200 OK
        code: 200
        duration: 49.585667ms
[...]
    - id: 7
      request:
        host: recorded.retool.dev
        body: |
            {"description":"Terraform acceptance test configuration variable with invalid environment ID","name":"tf-acc-test-configuration-variable-invalid-env-id","secret":false,"values":[{"environment_id":"invalid-environment-id","value":"value1"}]}
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://recorded.retool.dev/api/v2/configuration_variables/53fa8805-2cb9-4943-a08b-f4de8f94e33b
        method: PUT
      response:
        body: '{"success":false,"message":"Environment with id \"invalid-environment-id\" does not exist"}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
        status: 400 Bad Request
        code: 400
        duration: 62.904875ms
[...]
