---
version: 2
interactions:
    - id: 0
      request:
        host: recorded.retool.dev
        body: ""
        form: {}
        headers:
        url: https://recorded.retool.dev/api/v2/users
        method: GET
      response:
            - chunked
        body: '{"success":true,"data":[{"id":"user_e7d2cea90af0415eb04f332d0ef7cd13","legacy_id":11,"first_name":"Test","last_name":"User","created_at":"2025-11-11T00:19:54.574Z","last_active":null,"email":"tf-acc-test-user-1762820394@example.com","active":false,"metadata":{"department":"engineering"},"is_admin":false,"two_factor_auth_enabled":false,"user_type":"default"},{"id":"user_bc926f60a3c346379b5ce79dd564c60f","legacy_id":21,"first_name":"Default","last_name":"User","created_at":"2025-11-11T00:44:34.125Z","last_active":null,"email":"tf-acc-defaults-1762821872217943000@example.retool.com","active":false,"metadata":{},"is_admin":false,"two_factor_auth_enabled":false,"user_type":"default"},{"id":"user_c2618b5723a345d78ffff7bdbb25262a","legacy_id":12,"first_name":"Test","last_name":"User","created_at":"2025-11-11T00:20:56.693Z","last_active":null,"e[...]
[...]
