---
version: 2
interactions:
    - id: 0
      request:
        host: recorded.retool.dev
        body: |
            {"domain":"tfspace.localhost","name":"tf-acc-test-space","options":{"copy_branding_and_themes_settings":true,"copy_sso_settings":true,"create_admin_user":false,"users_to_copy_as_admins":["admin@example.com"]}}
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://recorded.retool.dev/api/v2/spaces
        method: POST
      response:
        body: '{"success":true,"data":{"id":"org_b35d89732e704738880a16f3bb7ce517","name":"tf-acc-test-space","domain":"","created_at":"2024-07-17T20:55:00.701Z","updated_at":"2024-07-17T20:55:02.068Z"}}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
        status: 200 OK
        code: 200
        duration: 1.389688833s
    - id: 1
      request:
        host: recorded.retool.dev
        body: ""
        form: {}
        headers:
        url: https://recorded.retool.dev/api/v2/spaces/org_b35d89732e704738880a16f3bb7ce517
        method: GET
      response:
        body: '{"success":true,"data":{"id":"org_b35d89732e704738880a16f3bb7ce517","name":"tf-acc-test-space","domain":"tfspace.localhost","created_at":"2024-07-17T20:55:00.701Z","updated_at":"2024-07-17T20:55:02.061Z"}}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
        status: 200 OK
        code: 200
        duration: 17.135417ms
[...]
