---
version: 2
interactions:
    - id: 0
      request:
        host: recorded.retool.dev
        body: |
            {"active":true,"email":"tf-acc-defaults-v8@example.retool.com","first_name":"Default","last_name":"User","user_type":"default"}
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://recorded.retool.dev/api/v2/users
        method: POST
      response:
        body: '{"success":true,"data":{"id":"user_4c191be4ff37433fad0136b2daa9733a","legacy_id":51,"first_name":"Default","last_name":"User","created_at":"2026-06-11T00:32:40.440Z","last_active":null,"email":"tf-acc-defaults-v8@example.retool.com","active":true,"metadata":{},"is_admin":false,"two_factor_auth_enabled":false,"user_type":"default","seat_type":"internalUser"}}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
        status: 200 OK
        code: 200
        duration: 142.322833ms
    - id: 1
      request:
        host: recorded.retool.dev
        body: ""
        form: {}
        headers:
        url: https://recorded.retool.dev/api/v2/users/user_4c191be4ff37433fad0136b2daa9733a
        method: GET
      response:
        body: '{"success":true,"data":{"id":"user_4c191be4ff37433fad0136b2daa9733a","legacy_id":51,"first_name":"Default","last_name":"User","created_at":"2026-06-11T00:32:40.440Z","last_active":null,"email":"tf-acc-defaults-v8@example.retool.com","active":true,"metadata":{},"is_admin":false,"two_factor_auth_enabled":false,"user_type":"default","seat_type":"internalUser"}}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
        status: 200 OK
        code: 200
        duration: 49.778417ms
[...]
