---
version: 2
interactions:
    - id: 0
      request:
        host: recorded.retool.dev
        body: ""
        form: {}
        headers:
        url: https://recorded.retool.dev/api/v2/environments
        method: GET
      response:
        body: '{"success":true,"data":[{"id":"23ba02f3-12c2-456e-826f-13b616daa5ce","name":"production","description":"An environment to define the production configuration of your resources","color":"#3C92DC","default":true,"created_at":"2025-11-06T17:00:11.456Z","updated_at":"2025-11-06T17:00:11.456Z"},{"id":"fc4a3c5b-6328-4990-b368-6879a1f38855","name":"staging","description":"An environment to define the staging configuration of your resources","color":"#E9AB11","default":false,"created_at":"2025-11-06T17:00:11.456Z","updated_at":"2025-11-06T17:00:11.456Z"},{"id":"0545f36c-1421-4c46-8fa5-9b9574cbaf8b","name":"Dev","description":"Dev environment","color":"#000000","default":false,"created_at":"2025-11-13T01:26:36.405Z","updated_at":"2025-11-13T01:26:36.405Z"}],"total_count":3,"next_token":null,"has_more":false}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
        status: 200 OK
        code: 200
        duration: 172.336084ms
    - id: 1
      request:
        host: recorded.retool.dev
        body: |
            {"display_name":"Test REST API for Config","folder_id":null,"options":{"base_url":"https://api.example.com"},"type":"restapi"}
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://recorded.retool.dev/api/v2/resources
        method: POST
      response:
        body: '{"success":true,"data":{"id":"f95ea27b-5af9-4996-8750-a32430bc0134","type":"restapi","display_name":"Test REST API for Config","protected":false,"created_at":"2026-02-04T22:55:43.694Z","updated_at":"2026-02-04T22:55:43.694Z"}}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
        status: 200 OK
        code: 200
        duration: 61.018625ms
    - id: 2
      request:
        host: recorded.retool.dev
        body: |
            {"environment_id":"fc4a3c5b-6328-4990-b368-6879a1f38855","options":{"base_url":"https://api.production.example.com"},"resource_id":"f95ea27b-5af9-4996-8750-a32430bc0134"}
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://recorded.retool.dev/api/v2/resource_configurations
        method: POST
      response:
        body: '{"success":true,"data":{"id":"55ec87b4-6fa7-42df-8654-5580a011b460","resource":{"id":"f95ea27b-5af9-4996-8750-a32430bc0134","type":"restapi","display_name":"Test REST API for Config","protected":false,"created_at":"2026-02-04T22:55:43.694Z","updated_at":"2026-02-04T22:55:43.694Z"},"environment":{"id":"fc4a3c5b-6328-4990-b368-6879a1f38855","name":"staging","description":"An environment to define the staging configuration of your resources","color":"#E9AB11","default":false,"created_at":"2025-11-06T17:00:11.456Z","updated_at":"2025-11-06T17:00:11.456Z"},"options":{"base_url":"https://api.production.example.com","authentication_options":{"authentication_type":"none"}},"created_at":"2026-02-04T22:55:43.786Z","updated_at":"2026-02-04T22:55:43.786Z"}}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
        status: 200 OK
        code: 200
        duration: 78.12875ms
[...]
    - id: 5
      request:
        host: recorded.retool.dev
        body: ""
        form: {}
        headers:
        url: https://recorded.retool.dev/api/v2/resources/f95ea27b-5af9-4996-8750-a32430bc0134
        method: GET
      response:
        body: '{"success":true,"data":{"id":"f95ea27b-5af9-4996-8750-a32430bc0134","type":"restapi","display_name":"Test REST API for Config","protected":false,"created_at":"2026-02-04T22:55:43.694Z","updated_at":"2026-02-04T22:55:43.694Z"}}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
        status: 200 OK
        code: 200
        duration: 78.42125ms
    - id: 6
      request:
        host: recorded.retool.dev
        body: ""
        form: {}
        headers: {}
        url: https://recorded.retool.dev/api/v2/resource_configurations/55ec87b4-6fa7-42df-8654-5580a011b460
        method: GET
      response:
        body: '{"success":true,"data":{"id":"55ec87b4-6fa7-42df-8654-5580a011b460","resource":{"id":"f95ea27b-5af9-4996-8750-a32430bc0134","type":"restapi","display_name":"Test REST API for Config","protected":false,"created_at":"2026-02-04T22:55:43.694Z","updated_at":"2026-02-04T22:55:43.694Z"},"environment":{"id":"fc4a3c5b-6328-4990-b368-6879a1f38855","name":"staging","description":"An environment to define the staging configuration of your resources","color":"#E9AB11","default":false,"created_at":"2025-11-06T17:00:11.456Z","updated_at":"2025-11-06T17:00:11.456Z"},"options":{"base_url":"https://api.production.example.com","authentication_options":{"authentication_type":"none"}},"created_at":"2026-02-04T22:55:43.786Z","updated_at":"2026-02-04T22:55:43.786Z"}}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
        status: 200 OK
        code: 200
        duration: 44.909875ms
[...]
    - id: 12
      request:
        host: recorded.retool.dev
        body: |
            {"operations":[{"op":"replace","path":"/options","value":{"base_url":"https://api.production-v2.example.com"}}]}
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://recorded.retool.dev/api/v2/resource_configurations/55ec87b4-6fa7-42df-8654-5580a011b460
        method: PATCH
      response:
        body: '{"success":true,"data":{"id":"55ec87b4-6fa7-42df-8654-5580a011b460","resource":{"id":"f95ea27b-5af9-4996-8750-a32430bc0134","type":"restapi","display_name":"Test REST API for Config","protected":false,"created_at":"2026-02-04T22:55:43.694Z","updated_at":"2026-02-04T22:55:43.694Z"},"environment":{"id":"fc4a3c5b-6328-4990-b368-6879a1f38855","name":"staging","description":"An environment to define the staging configuration of your resources","color":"#E9AB11","default":false,"created_at":"2025-11-06T17:00:11.456Z","updated_at":"2025-11-06T17:00:11.456Z"},"options":{"base_url":"https://api.production-v2.example.com","authentication_options":{"authentication_type":"none"}},"created_at":"2026-02-04T22:55:43.786Z","updated_at":"2026-02-04T22:55:44.738Z"}}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
        status: 200 OK
        code: 200
        duration: 62.130417ms
[...]
