---
version: 2
interactions:
    - id: 0
      request:
        host: recorded.retool.dev
        body: |
            {"color":"#FF5733","description":"Test environment for acceptance tests","name":"test-environment"}
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://recorded.retool.dev/api/v2/environments
        method: POST
      response:
        body: '{"success":true,"data":{"id":"8c951d2d-ac54-4175-b8d0-fe3da8b4c3ee","name":"test-environment","description":"Test environment for acceptance tests","color":"#FF5733","default":false,"created_at":"2025-11-13T01:18:10.910Z","updated_at":"2025-11-13T01:18:10.910Z"}}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
        status: 200 OK
        code: 200
        duration: 3.42377175s
    - id: 1
      request:
        host: recorded.retool.dev
        body: ""
        form: {}
        headers:
        url: https://recorded.retool.dev/api/v2/environments/8c951d2d-ac54-4175-b8d0-fe3da8b4c3ee
        method: GET
      response:
        body: '{"success":true,"data":{"id":"8c951d2d-ac54-4175-b8d0-fe3da8b4c3ee","name":"test-environment","description":"Test environment for acceptance tests","color":"#FF5733","default":false,"created_at":"2025-11-13T01:18:10.910Z","updated_at":"2025-11-13T01:18:10.910Z"}}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
        status: 200 OK
        code: 200
        duration: 63.933541ms
[...]
    - id: 3
      request:
        host: recorded.retool.dev
        body: |
            {"operations":[{"op":"replace","path":"/name","value":"test-environment-updated"},{"op":"replace","path":"/description","value":"Updated test environment"},{"op":"replace","path":"/color","value":"#00FF00"}]}
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://recorded.retool.dev/api/v2/environments/8c951d2d-ac54-4175-b8d0-fe3da8b4c3ee
        method: PATCH
      response:
        body: '{"success":true,"data":{"id":"8c951d2d-ac54-4175-b8d0-fe3da8b4c3ee","name":"test-environment-updated","description":"Updated test environment","color":"#00FF00","default":false,"created_at":"2025-11-13T01:18:10.910Z","updated_at":"2025-11-13T01:18:14.751Z"}}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
        status: 200 OK
        code: 200
        duration: 48.816208ms
[...]
