---
version: 2
interactions:
    - id: 0
      request:
        host: recorded.retool.dev
        body: ""
        form: {}
        headers:
        url: https://recorded.retool.dev/api/v2/groups
        method: GET
      response:
            - chunked
        body: '{"success":true,"data":[{"id":1,"legacy_id":1,"name":"admin","members":[{"id":"user_37eb84a07b57447cb1dad0c17842b5d7","email":"lukew@retool.com","is_group_admin":false}],"universal_app_access":"own","universal_resource_access":"own","universal_workflow_access":"own","universal_query_library_access":"edit","user_invites":[],"user_list_access":true,"audit_log_access":true,"unpublished_release_access":true,"usage_analytics_access":true,"theme_access":true,"account_details_access":true,"landing_page_app_id":null,"updated_at":"2025-11-06T17:00:11.467Z","created_at":"2025-11-06T17:00:11.467Z"},{"id":2,"legacy_id":2,"name":"editor","members":[],"universal_app_access":"edit","universal_resource_access":"own","universal_workflow_access":"edit","universal_query_library_access":"edit","user_invites":[],"user_list_access":true,"audit_log_access":false,"unpublished_release_access":true,"usage_analytics_access":false,"theme_access":false,"account_details_access":true,"landing_page_app_id":null,"updated_at":"2025-11-06T17:00:11.467Z","created_at":"2025-11-06T17:00:1[...]
[...]
