---
version: 2
interactions:
    - id: 0
      request:
        host: recorded.retool.dev
        body: |
            {"account_details_access":false,"audit_log_access":false,"name":"tf-acc-test-group-screen","theme_access":false,"universal_app_access":"none","universal_query_library_access":"none","universal_resource_access":"none","universal_workflow_access":"none","unpublished_release_access":false,"usage_analytics_access":false,"user_list_access":false}
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://recorded.retool.dev/api/v2/groups
        method: POST
      response:
        body: '{"success":true,"data":{"id":163,"legacy_id":163,"name":"tf-acc-test-group-screen","members":[],"universal_app_access":"none","universal_resource_access":"none","universal_workflow_access":"none","universal_query_library_access":"none","user_invites":[],"user_list_access":false,"audit_log_access":false,"unpublished_release_access":false,"usage_analytics_access":false,"theme_access":false,"account_details_access":false,"landing_page_app_id":null,"updated_at":"2026-02-05T21:13:26.851Z","created_at":"2026-02-05T21:13:26.851Z"}}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
        status: 200 OK
        code: 200
        duration: 103.687042ms
    - id: 1
      request:
        host: recorded.retool.dev
        body: |
            {"access_level":"use","object":{"appId":"2cc01bea-0222-11f1-a079-afa417c1dd75","id":"4d0f13b1-b919-4d52-ad19-d0b51f6dbcf7","type":"screen"},"subject":{"id":163,"type":"group"}}
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://recorded.retool.dev/api/v2/permissions/grant
        method: POST
      response:
        body: '{"success":true,"data":[{"type":"screen","id":"4d0f13b1-b919-4d52-ad19-d0b51f6dbcf7","access_level":"use"}]}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
        status: 200 OK
        code: 200
        duration: 90.61075ms
    - id: 2
      request:
        host: recorded.retool.dev
        body: ""
        form: {}
        headers:
        url: https://recorded.retool.dev/api/v2/groups/163
        method: GET
      response:
        body: '{"success":true,"data":{"id":163,"legacy_id":163,"name":"tf-acc-test-group-screen","members":[],"universal_app_access":"none","universal_resource_access":"none","universal_workflow_access":"none","universal_query_library_access":"none","user_invites":[],"user_list_access":false,"audit_log_access":false,"unpublished_release_access":false,"usage_analytics_access":false,"theme_access":false,"account_details_access":false,"landing_page_app_id":null,"updated_at":"2026-02-05T21:13:26.851Z","created_at":"2026-02-05T21:13:26.851Z"}}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
        status: 200 OK
        code: 200
        duration: 48.685709ms
    - id: 3
      request:
        host: recorded.retool.dev
        body: |
            {"object_type":"app","subject":{"id":163,"type":"group"}}
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://recorded.retool.dev/api/v2/permissions/listObjects
        method: POST
      response:
        body: '{"success":true,"data":[],"total_count":0,"next_token":null,"has_more":false}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
        status: 200 OK
        code: 200
        duration: 50.792208ms
[...]
    - id: 7
      request:
        host: recorded.retool.dev
        body: |
            {"object":{"appId":"2cc01bea-0222-11f1-a079-afa417c1dd75","id":"4d0f13b1-b919-4d52-ad19-d0b51f6dbcf7","type":"screen"},"subject":{"id":163,"type":"group"}}
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://recorded.retool.dev/api/v2/permissions/revoke
        method: POST
      response:
        body: '{"success":true,"data":[]}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
        status: 200 OK
        code: 200
        duration: 67.194958ms
[...]
