---
version: 2
interactions:
    - id: 0
      request:
        host: recorded.retool.dev
        body: |
            {"active":true,"email":"tf-acc-user-v8@example.retool.com","first_name":"Test","last_name":"User","metadata":{"department":"engineering"},"user_type":"default"}
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://recorded.retool.dev/api/v2/users
        method: POST
      response:
        body: '{"success":true,"data":{"id":"user_7dece57cfdad4aebad07f04e22374f94","legacy_id":50,"first_name":"Test","last_name":"User","created_at":"2026-06-11T00:29:07.745Z","last_active":null,"email":"tf-acc-user-v8@example.retool.com","active":true,"metadata":{"department":"engineering"},"is_admin":false,"two_factor_auth_enabled":false,"user_type":"default","seat_type":"internalUser"}}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
        status: 200 OK
        code: 200
        duration: 110.945083ms
    - id: 1
      request:
        host: recorded.retool.dev
        body: ""
        form: {}
        headers:
        url: https://recorded.retool.dev/api/v2/users/user_7dece57cfdad4aebad07f04e22374f94
        method: GET
      response:
        body: '{"success":true,"data":{"id":"user_7dece57cfdad4aebad07f04e22374f94","legacy_id":50,"first_name":"Test","last_name":"User","created_at":"2026-06-11T00:29:07.745Z","last_active":null,"email":"tf-acc-user-v8@example.retool.com","active":true,"metadata":{"department":"engineering"},"is_admin":false,"two_factor_auth_enabled":false,"user_type":"default","seat_type":"internalUser"}}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
        status: 200 OK
        code: 200
        duration: 53.320333ms
[...]
    - id: 4
      request:
        host: recorded.retool.dev
        body: |
            {"operations":[{"op":"replace","path":"/first_name","value":"Updated"},{"op":"replace","path":"/last_name","value":"TestUser"}]}
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://recorded.retool.dev/api/v2/users/user_7dece57cfdad4aebad07f04e22374f94
        method: PATCH
      response:
        body: '{"success":true,"data":{"id":"user_7dece57cfdad4aebad07f04e22374f94","legacy_id":50,"first_name":"Updated","last_name":"TestUser","created_at":"2026-06-11T00:29:07.745Z","last_active":null,"email":"tf-acc-user-v8@example.retool.com","active":true,"metadata":{"department":"engineering"},"is_admin":false,"two_factor_auth_enabled":false,"user_type":"default","seat_type":"internalUser"}}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
        status: 200 OK
        code: 200
        duration: 144.078333ms
[...]
