---
version: 2
interactions:
    - id: 0
      request:
        host: recorded.retool.dev
        body: |
            {"description":"Terraform acceptance test secret configuration variable","name":"tf-acc-test-secret-configuration-variable","secret":true,"values":[{"environment_id":"23ba02f3-12c2-456e-826f-13b616daa5ce","value":"secret_value1"},{"environment_id":"fc4a3c5b-6328-4990-b368-6879a1f38855","value":"secret_value2"}]}
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://recorded.retool.dev/api/v2/configuration_variables
        method: POST
      response:
        body: '{"success":true,"data":{"id":"dd40a017-7d57-434b-a626-c60e802c3d31","name":"tf-acc-test-secret-configuration-variable","description":"Terraform acceptance test secret configuration variable","secret":true,"values":[{"environment_id":"23ba02f3-12c2-456e-826f-13b616daa5ce","value":"---encrypted-on-server---"},{"environment_id":"fc4a3c5b-6328-4990-b368-6879a1f38855","value":"---encrypted-on-server---"}]}}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
        status: 200 OK
        code: 200
        duration: 113.4005ms
    - id: 1
      request:
        host: recorded.retool.dev
        body: ""
        form: {}
        headers:
        url: https://recorded.retool.dev/api/v2/configuration_variables/dd40a017-7d57-434b-a626-c60e802c3d31
        method: GET
      response:
        body: '{"success":true,"data":{"id":"dd40a017-7d57-434b-a626-c60e802c3d31","name":"tf-acc-test-secret-configuration-variable","description":"Terraform acceptance test secret configuration variable","secret":true,"values":[{"environment_id":"23ba02f3-12c2-456e-826f-13b616daa5ce","value":"---encrypted-on-server---"},{"environment_id":"fc4a3c5b-6328-4990-b368-6879a1f38855","value":"---encrypted-on-server---"}]}}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
        status: 200 OK
        code: 200
        duration: 38.290583ms
[...]
