---
version: 2
interactions:
    - id: 0
      request:
        host: recorded.retool.dev
        body: |
            {"color":"#FF5733","description":"Test environment for acceptance tests","name":"tf-acc-test-environment"}
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://recorded.retool.dev/api/v2/environments
        method: POST
      response:
        body: '{"success":true,"data":{"id":"a2526f5b-0af9-4c45-a9f5-cd1c5e155417","name":"tf-acc-test-environment","description":"Test environment for acceptance tests","color":"#FF5733","default":false,"created_at":"2026-06-11T00:17:30.306Z","updated_at":"2026-06-11T00:17:30.306Z"}}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
        status: 200 OK
        code: 200
        duration: 3.088801042s
    - id: 1
      request:
        host: recorded.retool.dev
        body: ""
        form: {}
        headers:
        url: https://recorded.retool.dev/api/v2/environments/a2526f5b-0af9-4c45-a9f5-cd1c5e155417
        method: GET
      response:
        body: '{"success":true,"data":{"id":"a2526f5b-0af9-4c45-a9f5-cd1c5e155417","name":"tf-acc-test-environment","description":"Test environment for acceptance tests","color":"#FF5733","default":false,"created_at":"2026-06-11T00:17:30.306Z","updated_at":"2026-06-11T00:17:30.306Z"}}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
        status: 200 OK
        code: 200
        duration: 34.412625ms
[...]
    - id: 3
      request:
        host: recorded.retool.dev
        body: |
            {"operations":[{"op":"replace","path":"/name","value":"tf-acc-test-environment-updated"},{"op":"replace","path":"/description","value":"Updated test environment"},{"op":"replace","path":"/color","value":"#00FF00"}]}
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://recorded.retool.dev/api/v2/environments/a2526f5b-0af9-4c45-a9f5-cd1c5e155417
        method: PATCH
      response:
        body: '{"success":true,"data":{"id":"a2526f5b-0af9-4c45-a9f5-cd1c5e155417","name":"tf-acc-test-environment-updated","description":"Updated test environment","color":"#00FF00","default":false,"created_at":"2026-06-11T00:17:30.306Z","updated_at":"2026-06-11T00:17:33.936Z"}}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
        status: 200 OK
        code: 200
        duration: 42.05425ms
[...]
