---
version: 2
interactions:
    - id: 0
      request:
        host: recorded.retool.dev
        body: |
            {"active":true,"email":"tf-acc-defaults-v4@example.retool.com","first_name":"Default","last_name":"User"}
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://recorded.retool.dev/api/v2/users
        method: POST
      response:
        body: '{"success":true,"data":{"id":"user_aaac95a97a5d4dd3a978f241035c5ae5","legacy_id":33,"first_name":"Default","last_name":"User","created_at":"2026-02-04T22:09:34.228Z","last_active":null,"email":"tf-acc-defaults-v4@example.retool.com","active":true,"metadata":{},"is_admin":false,"two_factor_auth_enabled":false,"user_type":"default"}}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
        status: 200 OK
        code: 200
        duration: 131.243083ms
    - id: 1
      request:
        host: recorded.retool.dev
        body: ""
        form: {}
        headers:
        url: https://recorded.retool.dev/api/v2/users/user_aaac95a97a5d4dd3a978f241035c5ae5
        method: GET
      response:
        body: '{"success":true,"data":{"id":"user_aaac95a97a5d4dd3a978f241035c5ae5","legacy_id":33,"first_name":"Default","last_name":"User","created_at":"2026-02-04T22:09:34.228Z","last_active":null,"email":"tf-acc-defaults-v4@example.retool.com","active":true,"metadata":{},"is_admin":false,"two_factor_auth_enabled":false,"user_type":"default"}}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
        status: 200 OK
        code: 200
        duration: 49.070917ms
[...]
