---
version: 2
interactions:
    - id: 0
      request:
        host: recorded.retool.dev
        body: |
            {"color":"#FF5733","description":"Test environment for acceptance tests","name":"test-environment"}
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://recorded.retool.dev/api/v2/environments
        method: POST
      response:
        body: '{"success":true,"data":{"id":"6e2ae8ea-49e8-44d2-aee0-c63be29b108b","name":"test-environment","description":"Test environment for acceptance tests","color":"#FF5733","default":false,"created_at":"2025-11-13T01:09:11.652Z","updated_at":"2025-11-13T01:09:11.652Z"}}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
        status: 200 OK
        code: 200
        duration: 3.390111666s
    - id: 1
      request:
        host: recorded.retool.dev
        body: ""
        form: {}
        headers:
        url: https://recorded.retool.dev/api/v2/environments/6e2ae8ea-49e8-44d2-aee0-c63be29b108b
        method: GET
      response:
        body: '{"success":true,"data":{"id":"6e2ae8ea-49e8-44d2-aee0-c63be29b108b","name":"test-environment","description":"Test environment for acceptance tests","color":"#FF5733","default":false,"created_at":"2025-11-13T01:09:11.652Z","updated_at":"2025-11-13T01:09:11.652Z"}}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
        status: 200 OK
        code: 200
        duration: 32.338459ms
[...]
    - id: 3
      request:
        host: recorded.retool.dev
        body: |
            {"operations":[{"op":"replace","path":"/name","value":"test-environment-updated"},{"op":"replace","path":"/description","value":"Updated test environment"},{"op":"replace","path":"/color","value":"#00FF00"}]}
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://recorded.retool.dev/api/v2/environments/6e2ae8ea-49e8-44d2-aee0-c63be29b108b
        method: PATCH
      response:
        body: '{"success":true,"data":{"id":"6e2ae8ea-49e8-44d2-aee0-c63be29b108b","name":"test-environment-updated","description":"Updated test environment","color":"#00FF00","default":false,"created_at":"2025-11-13T01:09:11.652Z","updated_at":"2025-11-13T01:09:15.337Z"}}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
        status: 200 OK
        code: 200
        duration: 35.445166ms
[...]
