---
version: 2
interactions:
    - id: 0
      request:
        host: recorded.retool.dev
        body: |
            {"domain":"tfspace.localhost","name":"tf-acc-test-space","options":{"copy_branding_and_themes_settings":true,"copy_sso_settings":true,"create_admin_user":false,"users_to_copy_as_admins":["admin@example.com"]}}
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://recorded.retool.dev/api/v2/spaces
        method: POST
      response:
        body: '{"success":true,"data":{"id":"org_76abd67884ee4c3c8ea1ef39af74abd4","name":"tf-acc-test-space","domain":"","created_at":"2026-06-11T00:27:37.635Z","updated_at":"2026-06-11T00:27:38.180Z"}}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
        status: 200 OK
        code: 200
        duration: 811.293083ms
    - id: 1
      request:
        host: recorded.retool.dev
        body: ""
        form: {}
        headers:
        url: https://recorded.retool.dev/api/v2/spaces/org_76abd67884ee4c3c8ea1ef39af74abd4
        method: GET
      response:
        body: '{"success":true,"data":{"id":"org_76abd67884ee4c3c8ea1ef39af74abd4","name":"tf-acc-test-space","domain":"tfspace.localhost","created_at":"2026-06-11T00:27:37.635Z","updated_at":"2026-06-11T00:27:37.988Z"}}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
        status: 200 OK
        code: 200
        duration: 253.444833ms
[...]
