---
version: 2
interactions:
    - id: 0
      request:
        host: recorded.retool.dev
        body: ""
        form: {}
        headers:
        url: https://recorded.retool.dev/api/v2/folders
        method: GET
      response:
            - chunked
        body: '{"success":true,"data":[{"id":"app_1","legacy_id":"app_1","name":"root","parent_folder_id":null,"is_system_folder":true,"folder_type":"app"},{"id":"app_13","legacy_id":"app_13","name":"Terraform Example Folder","parent_folder_id":"app_2","is_system_folder":false,"folder_type":"app"},{"id":"app_15","legacy_id":"app_15","name":"Terraform Example Folder","parent_folder_id":"app_1","is_system_folder":false,"folder_type":"app"},{"id":"app_17","legacy_id":"app_17","name":"Example Subfolder","parent_folder_id":"app_15","is_system_folder":false,"folder_type":"app"},{"id":"app_2","legacy_id":"app_2","name":"archive","parent_folder_id":[...]
[...]
