---
version: 2
interactions:
    - id: 0
      request:
        host: recorded.retool.dev
        body: |
            {"color":"#0000FF","name":"tf-acc-test-environment-no-desc"}
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://recorded.retool.dev/api/v2/environments
        method: POST
      response:
        body: '{"success":true,"data":{"id":"13572d00-61d9-496c-b113-58da5d19c4a4","name":"tf-acc-test-environment-no-desc","description":null,"color":"#0000FF","default":false,"created_at":"2026-06-11T00:18:57.174Z","updated_at":"2026-06-11T00:18:57.174Z"}}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
        status: 200 OK
        code: 200
        duration: 3.272196708s
    - id: 1
      request:
        host: recorded.retool.dev
        body: ""
        form: {}
        headers:
        url: https://recorded.retool.dev/api/v2/environments/13572d00-61d9-496c-b113-58da5d19c4a4
        method: GET
      response:
        body: '{"success":true,"data":{"id":"13572d00-61d9-496c-b113-58da5d19c4a4","name":"tf-acc-test-environment-no-desc","description":null,"color":"#0000FF","default":false,"created_at":"2026-06-11T00:18:57.174Z","updated_at":"2026-06-11T00:18:57.174Z"}}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
        status: 200 OK
        code: 200
        duration: 43.599167ms
[...]
