---
version: 2
interactions:
    - id: 0
      request:
        host: recorded.retool.dev
        body: ""
        form: {}
        headers:
        url: https://recorded.retool.dev/api/v2/folders
        method: GET
      response:
            - chunked
        body: '{"success":true,"data":[{"id":"app_1","legacy_id":"app_1","name":"root","parent_folder_id":null,"is_system_folder":true,"folder_type":"app","updated_at":"2025-11-06T17:00:11.431Z","created_at":"2025-11-06T17:00:11.431Z"},{"id":"app_10","legacy_id":"app_10","name":"Example Subfolder","parent_folder_id":"app_9","is_system_folder":false,"folder_type":"app","updated_at":"2025-11-07T01:06:08.296Z","created_at":"2025-11-07T01:06:08.296Z"},{"id":"app_132","legacy_id":"app_132","name":"Terraform Example App Folder","parent_folder_id":"app_1","is_system_folder":false,"folder_type":"app","updated_at":"2025-11-07T04:46:50.387Z","created_at":"2025-11-07T04:46:50.387Z"},{"id":"app_133","legacy_id"[...]
    - id: 1
      request:
        host: recorded.retool.dev
        body: |
            {"account_details_access":false,"audit_log_access":false,"name":"tf-acc-test-group","theme_access":false,"universal_app_access":"none","universal_query_library_access":"none","universal_resource_access":"none","universal_workflow_access":"none","unpublished_release_access":false,"usage_analytics_access":false,"user_list_access":false}
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://recorded.retool.dev/api/v2/groups
        method: POST
      response:
        body: '{"success":true,"data":{"id":125,"legacy_id":125,"name":"tf-acc-test-group","members":[],"universal_app_access":"none","universal_resource_access":"none","universal_workflow_access":"none","universal_query_library_access":"none","user_invites":[],"user_list_access":false,"audit_log_access":false,"unpublished_release_access":false,"usage_analytics_access":false,"theme_access":false,"account_details_access":false,"landing_page_app_id":null,"updated_at":"2025-11-13T19:48:48.116Z","created_at":"2025-11-13T19:48:48.116Z"}}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
        status: 200 OK
        code: 200
        duration: 189.647375ms
[...]
    - id: 4
      request:
        host: recorded.retool.dev
        body: |
            {"access_level":"use","object":{"id":"app_177","type":"folder"},"subject":{"id":125,"type":"group"}}
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://recorded.retool.dev/api/v2/permissions/grant
        method: POST
      response:
        body: '{"success":true,"data":[{"type":"folder","id":"app_177","access_level":"use"}],"total_count":1,"next_token":null,"has_more":false}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
        status: 200 OK
        code: 200
        duration: 90.5345ms
    - id: 5
      request:
        host: recorded.retool.dev
        body: ""
        form: {}
        headers:
        url: https://recorded.retool.dev/api/v2/folders/app_177
        method: GET
      response:
        body: '{"success":true,"data":{"id":"app_177","legacy_id":"app_177","name":"tf-acc-test-folder1","parent_folder_id":"app_1","is_system_folder":false,"folder_type":"app","updated_at":"2025-11-13T19:48:48.172Z","created_at":"2025-11-13T19:48:48.172Z"}}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
        status: 200 OK
        code: 200
        duration: 42.336833ms
    - id: 6
      request:
        host: recorded.retool.dev
        body: ""
        form: {}
        headers:
        url: https://recorded.retool.dev/api/v2/groups/125
        method: GET
      response:
        body: '{"success":true,"data":{"id":125,"legacy_id":125,"name":"tf-acc-test-group","members":[],"universal_app_access":"none","universal_resource_access":"none","universal_workflow_access":"none","universal_query_library_access":"none","user_invites":[],"user_list_access":false,"audit_log_access":false,"unpublished_release_access":false,"usage_analytics_access":false,"theme_access":false,"account_details_access":false,"landing_page_app_id":null,"updated_at":"2025-11-13T19:48:48.116Z","created_at":"2025-11-13T19:48:48.116Z"}}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
        status: 200 OK
        code: 200
        duration: 51.615375ms
[...]
    - id: 9
      request:
        host: recorded.retool.dev
        body: |
            {"object_type":"app","subject":{"id":125,"type":"group"}}
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://recorded.retool.dev/api/v2/permissions/listObjects
        method: POST
      response:
        body: '{"success":true,"data":[],"total_count":0,"next_token":null,"has_more":false}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
        status: 200 OK
        code: 200
        duration: 47.774833ms
[...]
    - id: 29
      request:
        host: recorded.retool.dev
        body: |
            {"object":{"id":"app_177","type":"folder"},"subject":{"id":125,"type":"group"}}
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://recorded.retool.dev/api/v2/permissions/revoke
        method: POST
      response:
        body: '{"success":true,"data":[],"total_count":0,"next_token":null,"has_more":false}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
        status: 200 OK
        code: 200
        duration: 75.045333ms
[...]
