---
version: 2
interactions:
    - id: 0
      request:
        host: recorded.retool.dev
        body: ""
        form: {}
        headers:
        url: https://recorded.retool.dev/api/v2/folders
        method: GET
      response:
            - chunked
        body: '{"success":true,"data":[{"id":"app_1","legacy_id":"app_1","name":"root","parent_folder_id":null,"is_system_folder":true,"folder_type":"app","updated_at":"2025-11-06T17:00:11.431Z","created_at":"2025-11-06T17:00:11.431Z"},{"id":"app_10","legacy_id":"app_10","name":"Example Subfolder","parent_folder_id":"app_9","is_system_folder":false,"folder_type":"app","updated_at":"2025-11-07T01:06:08.296Z","created_at":"2025-11-07T01:06:08.296Z"},{"id":"app_132","legacy_id":"app_132","name":"Terraform Example App Folder","parent_folder_id":"app_1","is_system_folder":false,"folder_type":"app","updated_at":"2025-11-07T04:46:50.387Z","created_at":"2025-11-07T04:46:50.387Z"},{"id":"app_133","legacy_id"[...]
    - id: 1
      request:
        host: recorded.retool.dev
        body: |
            {"folder_type":"app","name":"tf-acc-test-folder","parent_folder_id":"app_1"}
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://recorded.retool.dev/api/v2/folders
        method: POST
      response:
        body: '{"success":true,"data":{"id":"app_440","legacy_id":"app_440","name":"tf-acc-test-folder","parent_folder_id":"app_1","is_system_folder":false,"folder_type":"app","updated_at":"2026-06-11T00:19:42.017Z","created_at":"2026-06-11T00:19:42.017Z"}}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
        status: 200 OK
        code: 200
        duration: 55.991417ms
[...]
    - id: 3
      request:
        host: recorded.retool.dev
        body: ""
        form: {}
        headers:
        url: https://recorded.retool.dev/api/v2/folders/app_440
        method: GET
      response:
        body: '{"success":true,"data":{"id":"app_440","legacy_id":"app_440","name":"tf-acc-test-folder","parent_folder_id":"app_1","is_system_folder":false,"folder_type":"app","updated_at":"2026-06-11T00:19:42.017Z","created_at":"2026-06-11T00:19:42.017Z"}}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
        status: 200 OK
        code: 200
        duration: 47.226625ms
[...]
    - id: 15
      request:
        host: recorded.retool.dev
        body: |
            {"operations":[{"op":"replace","path":"/parent_folder_id","value":"app_1"}]}
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://recorded.retool.dev/api/v2/folders/app_441
        method: PATCH
      response:
        body: '{"success":true,"data":{"id":"app_441","legacy_id":"app_441","name":"tf-acc-test-child-folder","parent_folder_id":"app_440","is_system_folder":false,"folder_type":"app","updated_at":"2026-06-11T00:19:42.083Z","created_at":"2026-06-11T00:19:42.083Z"}}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
        status: 200 OK
        code: 200
        duration: 82.057375ms
    - id: 16
      request:
        host: recorded.retool.dev
        body: |
            {"operations":[{"op":"replace","path":"/name","value":"tf-acc-test-folder-renamed"},{"op":"replace","path":"/parent_folder_id","value":"app_442"}]}
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://recorded.retool.dev/api/v2/folders/app_440
        method: PATCH
      response:
        body: '{"success":true,"data":{"id":"app_440","legacy_id":"app_440","name":"tf-acc-test-folder-renamed","parent_folder_id":"app_442","is_system_folder":false,"folder_type":"app","updated_at":"2026-06-11T00:19:43.448Z","created_at":"2026-06-11T00:19:42.017Z"}}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
        status: 200 OK
        code: 200
        duration: 73.126167ms
[...]
