---
version: 2
interactions:
    - id: 0
      request:
        host: recorded.retool.dev
        body: ""
        form: {}
        headers:
        url: https://recorded.retool.dev/api/v2/users
        method: GET
      response:
            - chunked
        body: '{"success":true,"data":[{"id":"user_e7d2cea90af0415eb04f332d0ef7cd13","legacy_id":11,"first_name":"Test","last_name":"User","created_at":"2025-11-11T00:19:54.574Z","last_active":null,"email":"tf-acc-test-user-1762820394@example.com","active":false,"metadata":{"department":"engineering"},"is_admin":false,"two_factor_auth_enabled":false,"user_type":"default"},{"id":"user_bc926f60a3c346379b5ce79dd564c60f","legacy_id":21,"first_name":"Default","last_name":"User","created_at":"2025-11-11T00:44:34.125Z","last_active":null,"email":"tf-acc-defaults-1762821872217943000@example.retool.com","active":false,"metadata":{},"is_admin":false,"two_factor_auth_enabled":false,"user_type":"default"},{"id":"user_c2618b5723a345d78ffff7bdbb25262a","legacy_id":12,"first_name":"Test","last_name":"User","created_at":"2025-11-11T00:20:56.693Z","last_active":null,"e[...]
    - id: 1
      request:
        host: recorded.retool.dev
        body: |
            {"account_details_access":false,"audit_log_access":false,"name":"tf-acc-test-group-screen","theme_access":false,"universal_app_access":"none","universal_query_library_access":"none","universal_resource_access":"none","universal_workflow_access":"none","unpublished_release_access":false,"usage_analytics_access":false,"user_list_access":false}
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://recorded.retool.dev/api/v2/groups
        method: POST
      response:
        body: '{"success":true,"data":{"id":157,"legacy_id":157,"name":"tf-acc-test-group-screen","members":[],"universal_app_access":"none","universal_resource_access":"none","universal_workflow_access":"none","universal_query_library_access":"none","user_invites":[],"user_list_access":false,"audit_log_access":false,"unpublished_release_access":false,"usage_analytics_access":false,"theme_access":false,"account_details_access":false,"landing_page_app_id":null,"updated_at":"2026-02-04T23:36:51.056Z","created_at":"2026-02-04T23:36:51.056Z"}}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
        status: 200 OK
        code: 200
        duration: 77.117375ms
    - id: 2
      request:
        host: recorded.retool.dev
        body: |
            {"access_level":"use","object":{"appId":"2cc01bea-0222-11f1-a079-afa417c1dd75","id":"page1","type":"screen"},"subject":{"id":"user_e7d2cea90af0415eb04f332d0ef7cd13","type":"user"}}
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://recorded.retool.dev/api/v2/permissions/grant
        method: POST
      response:
        body: '{"success":false,"message":"Invalid uuid type for body parameter: object.id"}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
        status: 400 Bad Request
        code: 400
        duration: 115.350209ms
    - id: 3
      request:
        host: recorded.retool.dev
        body: ""
        form: {}
        headers:
        url: https://recorded.retool.dev/api/v2/groups/157
        method: DELETE
      response:
        body: ""
        headers: {}
        status: 204 No Content
        code: 204
        duration: 62.22ms
