---
version: 2
interactions:
    - id: 0
      request:
        host: recorded.retool.dev
        body: ""
        form: {}
        headers:
        url: https://recorded.retool.dev/api/v2/folders
        method: GET
      response:
            - chunked
        body: '{"success":true,"data":[{"id":"app_1","legacy_id":"app_1","name":"root","parent_folder_id":null,"is_system_folder":true,"folder_type":"app","updated_at":"2025-11-06T17:00:11.431Z","created_at":"2025-11-06T17:00:11.431Z"},{"id":"app_10","legacy_id":"app_10","name":"Example Subfolder","parent_folder_id":"app_9","is_system_folder":false,"folder_type":"app","updated_at":"2025-11-07T01:06:08.296Z","created_at":"2025-11-07T01:06:08.296Z"},{"id":"app_2","legacy_id":"app_2","name":"archive","parent_folder_id":"app_1","is_system_folder":true,"folder_type":"app","updated_at":"2025-11-06T17:00:11.435Z","created_at":"2025-11-06T17:00:11.435Z"},{"id":"app_3","legacy_id":"app_3","name":"personalRoo[...]
    - id: 1
      request:
        host: recorded.retool.dev
        body: |
            {"folder_type":"app","name":"tf-acc-test-folder","parent_folder_id":"app_1"}
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://recorded.retool.dev/api/v2/folders
        method: POST
      response:
        body: '{"success":true,"data":{"id":"app_92","legacy_id":"app_92","name":"tf-acc-test-folder","parent_folder_id":"app_1","is_system_folder":false,"folder_type":"app","updated_at":"2025-11-07T04:21:56.927Z","created_at":"2025-11-07T04:21:56.927Z"}}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
        status: 200 OK
        code: 200
        duration: 37.845875ms
[...]
    - id: 3
      request:
        host: recorded.retool.dev
        body: ""
        form: {}
        headers:
        url: https://recorded.retool.dev/api/v2/folders/app_92
        method: GET
      response:
        body: '{"success":true,"data":{"id":"app_92","legacy_id":"app_92","name":"tf-acc-test-folder","parent_folder_id":"app_1","is_system_folder":false,"folder_type":"app","updated_at":"2025-11-07T04:21:56.927Z","created_at":"2025-11-07T04:21:56.927Z"}}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
        status: 200 OK
        code: 200
        duration: 33.744833ms
[...]
    - id: 15
      request:
        host: recorded.retool.dev
        body: |
            {"operations":[{"op":"replace","path":"/parent_folder_id","value":"app_1"}]}
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://recorded.retool.dev/api/v2/folders/app_93
        method: PATCH
      response:
        body: '{"success":true,"data":{"id":"app_93","legacy_id":"app_93","name":"tf-acc-test-child-folder","parent_folder_id":"app_92","is_system_folder":false,"folder_type":"app","updated_at":"2025-11-07T04:21:56.972Z","created_at":"2025-11-07T04:21:56.972Z"}}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
        status: 200 OK
        code: 200
        duration: 47.78475ms
    - id: 16
      request:
        host: recorded.retool.dev
        body: |
            {"operations":[{"op":"replace","path":"/name","value":"tf-acc-test-folder-renamed"},{"op":"replace","path":"/parent_folder_id","value":"app_94"}]}
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://recorded.retool.dev/api/v2/folders/app_92
        method: PATCH
      response:
        body: '{"success":true,"data":{"id":"app_92","legacy_id":"app_92","name":"tf-acc-test-folder-renamed","parent_folder_id":"app_94","is_system_folder":false,"folder_type":"app","updated_at":"2025-11-07T04:21:57.937Z","created_at":"2025-11-07T04:21:56.927Z"}}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
        status: 200 OK
        code: 200
        duration: 84.773208ms
[...]
