---
version: 2
interactions:
    - id: 0
      request:
        host: recorded.retool.dev
        body: |
            {"data":{"config_type":"google","disable_email_password_login":true,"google_client_id":"client_id","google_client_secret":"client_secret"}}
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://recorded.retool.dev/api/v2/sso/config
        method: POST
      response:
        body: '{"success":true,"data":{"config_type":"google","google_client_id":"client_id","google_client_secret":"__RETOOL_ENCRYPTED__(d2c542b01b439eb4552f7925bf8fd4e1)","disable_email_password_login":true}}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
        status: 200 OK
        code: 200
        duration: 78.960208ms
[...]
    - id: 3
      request:
        host: recorded.retool.dev
        body: |
            {"data":{"config_type":"oidc","disable_email_password_login":true,"jit_enabled":true,"jwt_email_key":"idToken.email","jwt_first_name_key":"idToken.given_name","jwt_last_name_key":"idToken.family_name","jwt_roles_key":"idToken.roles","oidc_auth_url":"https://example.com/auth","oidc_client_id":"client_id","oidc_client_secret":"client_secret","oidc_scopes":"openid email profile","oidc_token_url":"https://example.com/token","restricted_domain":"example.com,example.org","roles_mapping":"user-\u003euser_group,admin-\u003eadmin_group","trigger_login_automatically":true}}
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://recorded.retool.dev/api/v2/sso/config
        method: POST
      response:
        body: '{"success":true,"data":{"config_type":"oidc","oidc_client_id":"client_id","oidc_client_secret":"__RETOOL_ENCRYPTED__(d2c542b01b439eb4552f7925bf8fd4e1)","oidc_scopes":"openid email profile","oidc_auth_url":"https://example.com/auth","oidc_token_url":"https://example.com/token","jwt_email_key":"idToken.email","jwt_roles_key":"idToken.roles","jwt_first_name_key":"idToken.given_name","jwt_last_name_key":"idToken.family_name","roles_mapping":"user->user_group,admin->admin_group","restricted_domain":"example.com,example.org","trigger_login_automatically":true,"jit_enabled":true,"disable_email_password_login":true}}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
        status: 200 OK
        code: 200
        duration: 66.145375ms
[...]
    - id: 9
      request:
        host: recorded.retool.dev
        body: |
            {"data":{"config_type":"saml","disable_email_password_login":true,"idp_metadata_xml":"metadata_xml","jit_enabled":true,"ldap_base_domain_components":"dc=example,dc=com","ldap_role_mapping":"admin-\u003eadmin_group,user-\u003euser_group,user-\u003eanother_user_group","ldap_server_certificate":"server_cert","ldap_server_key":"server_key","ldap_server_name":"ldap.example.com","ldap_server_url":"ldap://example.com","ldap_sync_group_claims":true,"restricted_domain":"example.com,example.org","saml_first_name_attribute":"first_name","saml_groups_attribute":"groups","saml_last_name_attribute":"last_name","saml_sync_group_claims":true,"trigger_login_automatically":true}}
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://recorded.retool.dev/api/v2/sso/config
        method: POST
      response:
        body: '{"success":true,"data":{"config_type":"saml","saml_first_name_attribute":"first_name","saml_last_name_attribute":"last_name","saml_groups_attribute":"groups","saml_sync_group_claims":true,"ldap_sync_group_claims":true,"ldap_role_mapping":"admin->admin_group,user->user_group,user->another_user_group","ldap_server_url":"ldap://example.com","ldap_base_domain_components":"dc=example,dc=com","ldap_server_name":"ldap.example.com","ldap_server_key":"__RETOOL_ENCRYPTED__(7a08f5924114b5646723610a16e7710d)","ldap_server_certificate":"__RETOOL_ENCRYPTED__(28d15d7f8ebcb352f48f3295057cfb22)","restricted_domain":"example.com,example.org","trigger_login_automatically":true,"idp_metadata_xml":"metadata_xml","jit_enabled":true,"disable_email_password_login":true}}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
        status: 200 OK
        code: 200
        duration: 70.918167ms
[...]
    - id: 15
      request:
        host: recorded.retool.dev
        body: |
            {"data":{"config_type":"google \u0026 saml","disable_email_password_login":false,"google_client_id":"new_client_id","google_client_secret":"new_client_secret","idp_metadata_xml":"new_metadata_xml","jit_enabled":false,"ldap_base_domain_components":"dc=newexample,dc=com","ldap_role_mapping":"guest-\u003eguest_group,user-\u003enew_user_group,user-\u003eanother_user_group,admin-\u003enew_admin_group","ldap_serv[...]
[...]
