---
version: 2
interactions:
    - id: 0
      request:
        host: recorded.retool.dev
        body: ""
        form: {}
        headers:
        url: https://recorded.retool.dev/api/v2/environments
        method: GET
      response:
        body: '{"success":true,"data":[{"id":"ee07e7dd-9b48-414c-9d2b-212d148bd4ac","name":"production","description":"An environment to define the production configuration of your resources","color":"#3C92DC","default":true,"created_at":"2025-10-06T11:40:56.580Z","updated_at":"2025-10-06T11:40:56.580Z"},{"id":"3b553dd9-7d8f-41e5-9bf6-5510b38d0231","name":"staging","description":"An environment to define the staging configuration of your resources","color":"#E9AB11","default":false,"created_at":"2025-10-06T11:40:56.580Z","updated_at":"2025-10-06T11:40:56.580Z"}],"total_count":2,"next_token":null,"has_more":false}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
        status: 200 OK
        code: 200
        duration: 33.485792ms
[...]
