---
version: 2
interactions:
    - id: 0
      request:
        host: recorded.retool.dev
        body: ""
        form: {}
        headers:
        url: https://recorded.retool.dev/api/v2/environments
        method: GET
      response:
        body: '{"success":true,"data":[{"id":"23ba02f3-12c2-456e-826f-13b616daa5ce","name":"production","description":"An environment to define the production configuration of your resources","color":"#3C92DC","default":true,"created_at":"2025-11-06T17:00:11.456Z","updated_at":"2025-11-06T17:00:11.456Z"},{"id":"fc4a3c5b-6328-4990-b368-6879a1f38855","name":"staging","description":"An environment to define the staging configuration of your resources","color":"#E9AB11","default":false,"created_at":"2025-11-06T17:00:11.456Z","updated_at":"2025-11-06T17:00:11.456Z"}],"total_count":2,"next_token":null,"has_more":false}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
        status: 200 OK
        code: 200
        duration: 83.215791ms
[...]
