---
version: 2
interactions:
    - id: 0
      request:
        host: recorded.retool.dev
        body: |
            {"domain":"tfspace.localhost","name":"tf-acc-test-space","options":{"copy_branding_and_themes_settings":true,"copy_sso_settings":true,"create_admin_user":false,"users_to_copy_as_admins":["admin@example.com"]}}
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://recorded.retool.dev/api/v2/spaces
        method: POST
      response:
        body: '{"success":true,"data":{"id":"org_df0f66ed6173458e85b339d240171487","name":"tf-acc-test-space","domain":"","created_at":"2025-11-07T04:21:59.485Z","updated_at":"2025-11-07T04:22:02.553Z"}}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
        status: 200 OK
        code: 200
        duration: 3.521828834s
    - id: 1
      request:
        host: recorded.retool.dev
        body: ""
        form: {}
        headers:
        url: https://recorded.retool.dev/api/v2/spaces/org_df0f66ed6173458e85b339d240171487
        method: GET
      response:
        body: '{"success":true,"data":{"id":"org_df0f66ed6173458e85b339d240171487","name":"tf-acc-test-space","domain":"tfspace.localhost","created_at":"2025-11-07T04:21:59.485Z","updated_at":"2025-11-07T04:22:02.348Z"}}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
        status: 200 OK
        code: 200
        duration: 45.370875ms
[...]
