---
version: 2
interactions:
    - id: 0
      request:
        host: recorded.retool.dev
        body: ""
        form: {}
        headers:
        url: https://recorded.retool.dev/api/v2/folders
        method: GET
      response:
            - chunked
        body: '{"success":true,"data":[{"id":"app_1","legacy_id":"app_1","name":"root","parent_folder_id":null,"is_system_folder":true,"folder_type":"app","updated_at":"2023-01-01T00:00:00.000Z","created_at":"2023-01-01T00:00:00.000Z"},{"id":"app_10","legacy_id":"app_10","name":"Example Subfolder","parent_folder_id":"app_9","is_system_folder":false,"folder_type":"app","updated_at":"2024-07-16T00:01:50.085Z","created_at":"2024-07-16T00:01:50.085Z"},{"id":"app_2","legacy_id":"app_2","name":"archive","parent_folder_id":"app_1","is_system_folder":true,"folder_type":"app","updated_at":"2023-01-01T00:00:00.000Z","created_at":"2023-01-01T00:00:00.000Z"},{"id":"app_6","legacy_id":"app_6","name":"Components"[...]
    - id: 1
      request:
        host: recorded.retool.dev
        body: |
            {"folder_type":"app","name":"tf-acc-test-folder","parent_folder_id":"app_1"}
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://recorded.retool.dev/api/v2/folders
        method: POST
      response:
        body: '{"success":true,"data":{"id":"app_52","legacy_id":"app_52","name":"tf-acc-test-folder","parent_folder_id":"app_1","is_system_folder":false,"folder_type":"app","updated_at":"2024-07-17T00:25:38.533Z","created_at":"2024-07-17T00:25:38.533Z"}}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
        status: 200 OK
        code: 200
        duration: 75.08675ms
[...]
    - id: 3
      request:
        host: recorded.retool.dev
        body: ""
        form: {}
        headers:
        url: https://recorded.retool.dev/api/v2/folders/app_52
        method: GET
      response:
        body: '{"success":true,"data":{"id":"app_52","legacy_id":"app_52","name":"tf-acc-test-folder","parent_folder_id":"app_1","is_system_folder":false,"folder_type":"app","updated_at":"2024-07-17T00:25:38.533Z","created_at":"2024-07-17T00:25:38.533Z"}}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
        status: 200 OK
        code: 200
        duration: 14.824625ms
[...]
