---
version: 2
interactions:
    - id: 0
      request:
        host: recorded.retool.dev
        body: ""
        form: {}
        headers:
        url: https://recorded.retool.dev/api/v2/folders
        method: GET
      response:
            - chunked
        body: '{"success":true,"data":[{"id":"app_1","legacy_id":"app_1","name":"root","parent_folder_id":null,"is_system_folder":true,"folder_type":"app","updated_at":"2023-11-11T00:41:17.316Z","created_at":"2023-11-11T00:41:17.316Z"},{"id":"app_2","legacy_id":"app_2","name":"archive","parent_folder_id":"app_1","is_system_folder":true,"folder_type":"app","updated_at":"2023-11-11T00:41:17.319Z","created_at":"2023-11-11T00:41:17.319Z"},{"id":"app_6","legacy_id":"app_6","name":"Components","parent_folder_id":"app_1","is_system_folder":false,"folder_type":"app","updated_at":"2023-11-11T00:54:28.000Z","created_at":"2023-11-11T00:54:28.000Z"},{"id":"app_66","legacy_id":"app_66","name":"Folder 1","parent_[...]
    - id: 1
      request:
        host: recorded.retool.dev
        body: |
            {"folder_type":"app","name":"tf-acc-test-folder","parent_folder_id":"app_1"}
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://recorded.retool.dev/api/v2/folders
        method: POST
      response:
        body: '{"success":true,"data":{"id":"app_71","legacy_id":"app_71","name":"tf-acc-test-folder","parent_folder_id":"app_1","is_system_folder":false,"folder_type":"app","updated_at":"2024-07-25T00:46:14.703Z","created_at":"2024-07-25T00:46:14.703Z"}}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
        status: 200 OK
        code: 200
        duration: 96.942625ms
[...]
    - id: 3
      request:
        host: recorded.retool.dev
        body: ""
        form: {}
        headers:
        url: https://recorded.retool.dev/api/v2/folders/app_71
        method: GET
      response:
        body: '{"success":true,"data":{"id":"app_71","legacy_id":"app_71","name":"tf-acc-test-folder","parent_folder_id":"app_1","is_system_folder":false,"folder_type":"app","updated_at":"2024-07-25T00:46:14.703Z","created_at":"2024-07-25T00:46:14.703Z"}}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
        status: 200 OK
        code: 200
        duration: 72.38975ms
[...]
    - id: 9
      request:
        host: recorded.retool.dev
        body: |
            {"recursive":true}
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://recorded.retool.dev/api/v2/folders/app_72
        method: DELETE
      response:
        body: ""
        headers: {}
        status: 204 No Content
        code: 204
        duration: 85.308625ms
[...]
    - id: 11
      request:
        host: recorded.retool.dev
        body: |
            {"operations":[{"op":"replace","path":"/name","value":"tf-acc-test-folder-renamed"},{"op":"replace","path":"/parent_folder_id","value":"app_73"}]}
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://recorded.retool.dev/api/v2/folders/app_71
        method: PATCH
      response:
        body: '{"success":true,"data":{"id":"app_71","legacy_id":"app_71","name":"tf-acc-test-folder-renamed","parent_folder_id":"app_73","is_system_folder":false,"folder_type":"app","updated_at":"2024-07-25T00:46:15.866Z","created_at":"2024-07-25T00:46:14.703Z"}}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
        status: 200 OK
        code: 200
        duration: 79.095083ms
[...]
