---
version: 2
interactions:
    - id: 0
      request:
        host: recorded.retool.dev
        body: |
            {"color":"#0000FF","name":"test-environment-no-desc"}
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://recorded.retool.dev/api/v2/environments
        method: POST
      response:
        body: '{"success":true,"data":{"id":"72fd47f5-6315-4cce-bf7e-082eb6c7be96","name":"test-environment-no-desc","description":null,"color":"#0000FF","default":false,"created_at":"2025-11-13T01:18:10.996Z","updated_at":"2025-11-13T01:18:10.996Z"}}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
        status: 200 OK
        code: 200
        duration: 3.456174125s
    - id: 1
      request:
        host: recorded.retool.dev
        body: ""
        form: {}
        headers:
        url: https://recorded.retool.dev/api/v2/environments/72fd47f5-6315-4cce-bf7e-082eb6c7be96
        method: GET
      response:
        body: '{"success":true,"data":{"id":"72fd47f5-6315-4cce-bf7e-082eb6c7be96","name":"test-environment-no-desc","description":null,"color":"#0000FF","default":false,"created_at":"2025-11-13T01:18:10.996Z","updated_at":"2025-11-13T01:18:10.996Z"}}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
        status: 200 OK
        code: 200
        duration: 51.932084ms
[...]
