---
version: 2
interactions:
    - id: 0
      request:
        host: recorded.retool.dev
        body: ""
        form: {}
        headers:
        url: https://recorded.retool.dev/api/v2/folders
        method: GET
      response:
            - chunked
        body: '{"success":true,"data":[{"id":"app_1","legacy_id":"app_1","name":"root","parent_folder_id":null,"is_system_folder":true,"folder_type":"app","updated_at":"2023-11-11T00:41:17.316Z","created_at":"2023-11-11T00:41:17.316Z"},{"id":"app_2","legacy_id":"app_2","name":"archive","parent_folder_id":"app_1","is_system_folder":true,"folder_type":"app","updated_at":"2023-11-11T00:41:17.319Z","created_at":"2023-11-11T00:41:17.319Z"},{"id":"app_6","legacy_id":"app_6","name":"Components","parent_folder_id":"app_1","is_system_folder":false,"folder_type":"app","updated_at":"2023-11-11T00:54:28.000Z","created_at":"2023-11-11T00:54:28.000Z"},{"id":"app_7","legacy_id":"app_7","name":"Navigation","parent_[...]
    - id: 1
      request:
        host: recorded.retool.dev
        body: |
            {"folder_type":"app","name":"tf-acc-test-folder","parent_folder_id":"app_1"}
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://recorded.retool.dev/api/v2/folders
        method: POST
      response:
        body: '{"success":true,"data":{"id":"app_93","legacy_id":"app_93","name":"tf-acc-test-folder","parent_folder_id":"app_1","is_system_folder":false,"folder_type":"app","updated_at":"2024-07-25T18:27:07.493Z","created_at":"2024-07-25T18:27:07.493Z"}}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
        status: 200 OK
        code: 200
        duration: 111.00275ms
[...]
    - id: 3
      request:
        host: recorded.retool.dev
        body: ""
        form: {}
        headers:
        url: https://recorded.retool.dev/api/v2/folders/app_93
        method: GET
      response:
        body: '{"success":true,"data":{"id":"app_93","legacy_id":"app_93","name":"tf-acc-test-folder","parent_folder_id":"app_1","is_system_folder":false,"folder_type":"app","updated_at":"2024-07-25T18:27:07.493Z","created_at":"2024-07-25T18:27:07.493Z"}}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
        status: 200 OK
        code: 200
        duration: 66.479916ms
[...]
    - id: 15
      request:
        host: recorded.retool.dev
        body: |
            {"operations":[{"op":"replace","path":"/parent_folder_id","value":"app_1"}]}
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://recorded.retool.dev/api/v2/folders/app_94
        method: PATCH
      response:
        body: '{"success":true,"data":{"id":"app_94","legacy_id":"app_94","name":"tf-acc-test-child-folder","parent_folder_id":"app_93","is_system_folder":false,"folder_type":"app","updated_at":"2024-07-25T18:27:07.607Z","created_at":"2024-07-25T18:27:07.607Z"}}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
        status: 200 OK
        code: 200
        duration: 153.817791ms
    - id: 16
      request:
        host: recorded.retool.dev
        body: |
            {"operations":[{"op":"replace","path":"/name","value":"tf-acc-test-folder-renamed"},{"op":"replace","path":"/parent_folder_id","value":"app_95"}]}
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://recorded.retool.dev/api/v2/folders/app_93
        method: PATCH
      response:
        body: '{"success":true,"data":{"id":"app_93","legacy_id":"app_93","name":"tf-acc-test-folder-renamed","parent_folder_id":"app_95","is_system_folder":false,"folder_type":"app","updated_at":"2024-07-25T18:27:08.924Z","created_at":"2024-07-25T18:27:07.493Z"}}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
        status: 200 OK
        code: 200
        duration: 75.046ms
[...]
    - id: 22
      request:
        host: recorded.retool.dev
        body: |
            {"recursive":true}
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://recorded.retool.dev/api/v2/folders/app_94
        method: DELETE
      response:
        body: ""
        headers: {}
        status: 204 No Content
        code: 204
        duration: 109.110333ms
[...]
