---
version: 2
interactions:
    - id: 0
      request:
        host: recorded.retool.dev
        body: |
            {"account_details_access":true,"audit_log_access":true,"name":"tf-acc-test-group","theme_access":false,"universal_app_access":"use","universal_query_library_access":"edit","universal_resource_access":"own","universal_workflow_access":"none","unpublished_release_access":false,"usage_analytics_access":true,"user_list_access":false}
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://recorded.retool.dev/api/v2/groups
        method: POST
      response:
        body: '{"success":true,"data":{"id":251,"legacy_id":251,"name":"tf-acc-test-group","members":[],"universal_app_access":"use","universal_resource_access":"own","universal_workflow_access":"none","universal_query_library_access":"edit","user_invites":[],"user_list_access":false,"audit_log_access":true,"unpublished_release_access":false,"usage_analytics_access":true,"theme_access":false,"account_details_access":true,"landing_page_app_id":null,"updated_at":"2026-06-11T00:21:06.741Z","created_at":"2026-06-11T00:21:06.741Z"}}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
        status: 200 OK
        code: 200
        duration: 116.188041ms
    - id: 1
      request:
        host: recorded.retool.dev
        body: ""
        form: {}
        headers:
        url: https://recorded.retool.dev/api/v2/groups/251
        method: GET
      response:
        body: '{"success":true,"data":{"id":251,"legacy_id":251,"name":"tf-acc-test-group","members":[],"universal_app_access":"use","universal_resource_access":"own","universal_workflow_access":"none","universal_query_library_access":"edit","user_invites":[],"user_list_access":false,"audit_log_access":true,"unpublished_release_access":false,"usage_analytics_access":true,"theme_access":false,"account_details_access":true,"landing_page_app_id":null,"updated_at":"2026-06-11T00:21:06.741Z","created_at":"2026-06-11T00:21:06.741Z"}}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
        status: 200 OK
        code: 200
        duration: 45.191333ms
[...]
