---
version: 2
interactions:
    - id: 0
      request:
        host: recorded.retool.dev
        body: |
            {"description":"Terraform acceptance test configuration variable","name":"tf-acc-test-configuration-variable","secret":false,"values":[{"environment_id":"ee07e7dd-9b48-414c-9d2b-212d148bd4ac","value":"value1"},{"environment_id":"3b553dd9-7d8f-41e5-9bf6-5510b38d0231","value":"value2"}]}
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://recorded.retool.dev/api/v2/configuration_variables
        method: POST
      response:
        body: '{"success":true,"data":{"id":"2b3a84c9-0e01-40f2-80ba-649ee7dfcd4d","name":"tf-acc-test-configuration-variable","description":"Terraform acceptance test configuration variable","secret":false,"values":[{"environment_id":"ee07e7dd-9b48-414c-9d2b-212d148bd4ac","value":"value1"},{"environment_id":"3b553dd9-7d8f-41e5-9bf6-5510b38d0231","value":"value2"}]}}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
        status: 200 OK
        code: 200
        duration: 86.464ms
    - id: 1
      request:
        host: recorded.retool.dev
        body: ""
        form: {}
        headers:
        url: https://recorded.retool.dev/api/v2/configuration_variables/2b3a84c9-0e01-40f2-80ba-649ee7dfcd4d
        method: GET
      response:
        body: '{"success":true,"data":{"id":"2b3a84c9-0e01-40f2-80ba-649ee7dfcd4d","name":"tf-acc-test-configuration-variable","description":"Terraform acceptance test configuration variable","secret":false,"values":[{"environment_id":"ee07e7dd-9b48-414c-9d2b-212d148bd4ac","value":"value1"},{"environment_id":"3b553dd9-7d8f-41e5-9bf6-5510b38d0231","value":"value2"}]}}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
        status: 200 OK
        code: 200
        duration: 41.572208ms
[...]
    - id: 7
      request:
        host: recorded.retool.dev
        body: |
            {"description":"Terraform acceptance test configuration variable with invalid environment ID","name":"tf-acc-test-configuration-variable-invalid-env-id","secret":false,"values":[{"environment_id":"invalid-environment-id","value":"value1"}]}
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://recorded.retool.dev/api/v2/configuration_variables/2b3a84c9-0e01-40f2-80ba-649ee7dfcd4d
        method: PUT
      response:
        body: '{"success":false,"message":"Environment with id \"invalid-environment-id\" does not exist"}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
        status: 400 Bad Request
        code: 400
        duration: 38.3085ms
[...]
