---
version: 2
interactions:
    - id: 0
      request:
        host: recorded.retool.dev
        body: |
            {"active":true,"email":"tf-acc-user-v4@example.retool.com","first_name":"Test","last_name":"User","metadata":{"department":"engineering"}}
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://recorded.retool.dev/api/v2/users
        method: POST
      response:
        body: '{"success":true,"data":{"id":"user_1607dcd42a484c31b56095ec5df0b125","legacy_id":32,"first_name":"Test","last_name":"User","created_at":"2026-02-04T22:09:34.223Z","last_active":null,"email":"tf-acc-user-v4@example.retool.com","active":true,"metadata":{"department":"engineering"},"is_admin":false,"two_factor_auth_enabled":false,"user_type":"default"}}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
        status: 200 OK
        code: 200
        duration: 134.782167ms
    - id: 1
      request:
        host: recorded.retool.dev
        body: ""
        form: {}
        headers:
        url: https://recorded.retool.dev/api/v2/users/user_1607dcd42a484c31b56095ec5df0b125
        method: GET
      response:
        body: '{"success":true,"data":{"id":"user_1607dcd42a484c31b56095ec5df0b125","legacy_id":32,"first_name":"Test","last_name":"User","created_at":"2026-02-04T22:09:34.223Z","last_active":null,"email":"tf-acc-user-v4@example.retool.com","active":true,"metadata":{"department":"engineering"},"is_admin":false,"two_factor_auth_enabled":false,"user_type":"default"}}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
        status: 200 OK
        code: 200
        duration: 40.88075ms
[...]
    - id: 4
      request:
        host: recorded.retool.dev
        body: |
            {"operations":[{"op":"replace","path":"/first_name","value":"Updated"},{"op":"replace","path":"/last_name","value":"TestUser"}]}
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://recorded.retool.dev/api/v2/users/user_1607dcd42a484c31b56095ec5df0b125
        method: PATCH
      response:
        body: '{"success":true,"data":{"id":"user_1607dcd42a484c31b56095ec5df0b125","legacy_id":32,"first_name":"Updated","last_name":"TestUser","created_at":"2026-02-04T22:09:34.223Z","last_active":null,"email":"tf-acc-user-v4@example.retool.com","active":true,"metadata":{"department":"engineering"},"is_admin":false,"two_factor_auth_enabled":false,"user_type":"default"}}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
        status: 200 OK
        code: 200
        duration: 51.767042ms
[...]
