---
page_title: "Provider: {{title .ProviderShortName}}"
description: |-
  The Retool provider can be used to interact with 
  [Retool Platform API](https://docs.retool.com/org-users/quickstart#retool-api) to configure your Retool instance and Spaces.
---

# {{title .ProviderShortName}} Provider

Retool Terraform provider helps you configure Spaces, SSO, Source Control, permissions and other settings on 
self-hosted Retool instance or Retool Cloud organization using [Retool Platform API](https://docs.retool.com/org-users/quickstart#retool-api).

## Prerequisites
Your [Retool plan](https://retool.com/pricing) should support Platform APIs. You'll need to create an API token on **Settings > Retool API** .
The access token should have the following scopes:
- source_control:read, source_control:write
- groups:read, groups:write
- spaces:read, spaces:write
- folders:read, folders:write
- permissions:all:read, permissions:all:write
- configuration_variables:read, configuration_variables:write
- environments:read, environments:write 


## Example Usage

{{ tffile "examples/provider/provider.tf" }}

~> Hard-coding credentials into any Terraform configuration is not recommended, and risks secret leakage should this
file ever be committed to a public version control system. See [Environment Variables](#environment-variables) for a
better alternative.

{{ .SchemaMarkdown | trimspace }}

## Environment Variables

You can provide your credentials via the `RETOOL_HOST`, `RETOOL_SCHEME` and `RETOOL_ACCESS_TOKEN`
environment variables, respectively.

{{ tffile "examples/provider/provider_with_env_vars.tf" }}

### Example Usage

{{ codefile "shell" "examples/provider/usage_with_env_vars.sh" }}

## Rate limiting
Retool API has rate limits. In order to avoid hitting the rate limits, Retool Terraform provider is configured to limit requests to the API to 45 requests per minute.
This might be too slow for complex Retool configurations with a lot of folders and permission groups. To increase the rate limit, you can do the following:

- Disable rate limiting on your self-hosted Retool instance by setting `DISABLE_RATE_LIMIT` environment variable to `true`.

- Increase the rate limit on your self-hosted Retool instance by setting `API_CALLS_PER_MIN` environment variable higher than its default value of 300.

Once you've increased the rate limit, you can increase the `requests_per_minute` parameter in the provider configuration.

{{ tffile "examples/provider/provider_with_rate_limit.tf" }}

Or you can disable rate limiting in the provider completely by setting `requests_per_minute` to `-1`.

{{ tffile "examples/provider/provider_without_rate_limit.tf" }}

## Provisioning new Retool instance
If you're using Retool Terraform provider to configure a new Retool instance, and you don't want to manually log in to the instance in order to create API token, you can use the following environment variables
in your Retool instance configuration:
```sh
export CREATE_FIRST_ORG="true" # Will automatically create the first organization on the instance
export ADMIN_USER_EMAIL="dzmitry+admin@retool.com" # Email of the admin user
export ADMIN_API_ACCESS_TOKEN="retool_01j33n67seh459gds2n5xjyrfx" # You can use any random string here
export ADMIN_API_ACCESS_TOKEN_SCOPES="source_control:read,source_control:write,groups:read,groups:write,spaces:read,spaces:write,folders:read,folders:write,permissions:all:read,permissions:all:write,environments:read,environments:write,configuration_variables:read,configuration_variables:write"
```
