/*
Retool API

The Retool API enables you to programmatically perform actions across your organization and its spaces. You can perform RESTful requests to manage a wide range of objects, such as adding users or updating resource configurations.  ## Base URL  All endpoints are relative to your Retool instance URL:  ``` https://{your-retool-instance}/api/v2 ```  ## Authentication  The Retool API uses HTTP Bearer authentication scheme with API tokens to authenticate requests. Users with sufficient permissions can create API tokens in the organization's [Retool API settings](/auth/login?redirectOnLogin=settings/api). Each token can be scoped to specific permissions—only grant the scopes needed for your use case.  ``` Authorization: Bearer YOUR_API_TOKEN ```  ## Versioning  The API version corresponds to the Retool release version in which it was shipped. This means the API version reflects the features and endpoints available in that release. When you upgrade your Retool instance, the API version updates alongside it and any new endpoints or capabilities introduced in that release become available.

API version: 4.0.0
*/

// Code generated by OpenAPI Generator (https://openapi-generator.tech); DO NOT EDIT.

package api

import (
	"bytes"
	"context"
	"io"
	"net/http"
	"net/url"
	"strings"
)


// ResourceConfigurationsAPIService ResourceConfigurationsAPI service
type ResourceConfigurationsAPIService service

type ApiResourceConfigurationsConfigurationIdDeleteRequest struct {
	ctx context.Context
	ApiService *ResourceConfigurationsAPIService
	configurationId string
}

func (r ApiResourceConfigurationsConfigurationIdDeleteRequest) Execute() (*http.Response, error) {
	return r.ApiService.ResourceConfigurationsConfigurationIdDeleteExecute(r)
}

/*
ResourceConfigurationsConfigurationIdDelete Delete a resource configuration

Deletes the specified resource configuration. Requires the `resources:write` scope.

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @param configurationId
 @return ApiResourceConfigurationsConfigurationIdDeleteRequest
*/
func (a *ResourceConfigurationsAPIService) ResourceConfigurationsConfigurationIdDelete(ctx context.Context, configurationId string) ApiResourceConfigurationsConfigurationIdDeleteRequest {
	return ApiResourceConfigurationsConfigurationIdDeleteRequest{
		ApiService: a,
		ctx: ctx,
		configurationId: configurationId,
	}
}

// Execute executes the request
func (a *ResourceConfigurationsAPIService) ResourceConfigurationsConfigurationIdDeleteExecute(r ApiResourceConfigurationsConfigurationIdDeleteRequest) (*http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodDelete
		localVarPostBody     interface{}
		formFiles            []formFile
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "ResourceConfigurationsAPIService.ResourceConfigurationsConfigurationIdDelete")
	if err != nil {
		return nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/resource_configurations/{configurationId}"
	localVarPath = strings.Replace(localVarPath, "{"+"configurationId"+"}", url.PathEscape(parameterValueToString(r.configurationId, "configurationId")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarHTTPResponse, newErr
	}

	return localVarHTTPResponse, nil
}

type ApiResourceConfigurationsConfigurationIdGetRequest struct {
	ctx context.Context
	ApiService *ResourceConfigurationsAPIService
	configurationId string
}

func (r ApiResourceConfigurationsConfigurationIdGetRequest) Execute() (*ResourceConfigurationsConfigurationIdGet200Response, *http.Response, error) {
	return r.ApiService.ResourceConfigurationsConfigurationIdGetExecute(r)
}

/*
ResourceConfigurationsConfigurationIdGet Get a resource configuration

Returns the specified resource configuration. Requires the `resources:read` scope.

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @param configurationId
 @return ApiResourceConfigurationsConfigurationIdGetRequest
*/
func (a *ResourceConfigurationsAPIService) ResourceConfigurationsConfigurationIdGet(ctx context.Context, configurationId string) ApiResourceConfigurationsConfigurationIdGetRequest {
	return ApiResourceConfigurationsConfigurationIdGetRequest{
		ApiService: a,
		ctx: ctx,
		configurationId: configurationId,
	}
}

// Execute executes the request
//  @return ResourceConfigurationsConfigurationIdGet200Response
func (a *ResourceConfigurationsAPIService) ResourceConfigurationsConfigurationIdGetExecute(r ApiResourceConfigurationsConfigurationIdGetRequest) (*ResourceConfigurationsConfigurationIdGet200Response, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodGet
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *ResourceConfigurationsConfigurationIdGet200Response
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "ResourceConfigurationsAPIService.ResourceConfigurationsConfigurationIdGet")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/resource_configurations/{configurationId}"
	localVarPath = strings.Replace(localVarPath, "{"+"configurationId"+"}", url.PathEscape(parameterValueToString(r.configurationId, "configurationId")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiResourceConfigurationsConfigurationIdPatchRequest struct {
	ctx context.Context
	ApiService *ResourceConfigurationsAPIService
	configurationId string
	resourceConfigurationsConfigurationIdPatchRequest *ResourceConfigurationsConfigurationIdPatchRequest
}

func (r ApiResourceConfigurationsConfigurationIdPatchRequest) ResourceConfigurationsConfigurationIdPatchRequest(resourceConfigurationsConfigurationIdPatchRequest ResourceConfigurationsConfigurationIdPatchRequest) ApiResourceConfigurationsConfigurationIdPatchRequest {
	r.resourceConfigurationsConfigurationIdPatchRequest = &resourceConfigurationsConfigurationIdPatchRequest
	return r
}

func (r ApiResourceConfigurationsConfigurationIdPatchRequest) Execute() (*ResourceConfigurationsConfigurationIdPatch200Response, *http.Response, error) {
	return r.ApiService.ResourceConfigurationsConfigurationIdPatchExecute(r)
}

/*
ResourceConfigurationsConfigurationIdPatch Update a resource configuration

Updates a resource configuration and returns the updated resource configuration. Requires the `resources:write` scope.

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @param configurationId
 @return ApiResourceConfigurationsConfigurationIdPatchRequest
*/
func (a *ResourceConfigurationsAPIService) ResourceConfigurationsConfigurationIdPatch(ctx context.Context, configurationId string) ApiResourceConfigurationsConfigurationIdPatchRequest {
	return ApiResourceConfigurationsConfigurationIdPatchRequest{
		ApiService: a,
		ctx: ctx,
		configurationId: configurationId,
	}
}

// Execute executes the request
//  @return ResourceConfigurationsConfigurationIdPatch200Response
func (a *ResourceConfigurationsAPIService) ResourceConfigurationsConfigurationIdPatchExecute(r ApiResourceConfigurationsConfigurationIdPatchRequest) (*ResourceConfigurationsConfigurationIdPatch200Response, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodPatch
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *ResourceConfigurationsConfigurationIdPatch200Response
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "ResourceConfigurationsAPIService.ResourceConfigurationsConfigurationIdPatch")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/resource_configurations/{configurationId}"
	localVarPath = strings.Replace(localVarPath, "{"+"configurationId"+"}", url.PathEscape(parameterValueToString(r.configurationId, "configurationId")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{"application/json"}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	// body params
	localVarPostBody = r.resourceConfigurationsConfigurationIdPatchRequest
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiResourceConfigurationsGetRequest struct {
	ctx context.Context
	ApiService *ResourceConfigurationsAPIService
	resourceType *string
	resourceId *string
	environmentId *string
	limit *int32
	nextToken *string
}

func (r ApiResourceConfigurationsGetRequest) ResourceType(resourceType string) ApiResourceConfigurationsGetRequest {
	r.resourceType = &resourceType
	return r
}

func (r ApiResourceConfigurationsGetRequest) ResourceId(resourceId string) ApiResourceConfigurationsGetRequest {
	r.resourceId = &resourceId
	return r
}

func (r ApiResourceConfigurationsGetRequest) EnvironmentId(environmentId string) ApiResourceConfigurationsGetRequest {
	r.environmentId = &environmentId
	return r
}

func (r ApiResourceConfigurationsGetRequest) Limit(limit int32) ApiResourceConfigurationsGetRequest {
	r.limit = &limit
	return r
}

func (r ApiResourceConfigurationsGetRequest) NextToken(nextToken string) ApiResourceConfigurationsGetRequest {
	r.nextToken = &nextToken
	return r
}

func (r ApiResourceConfigurationsGetRequest) Execute() (*ResourceConfigurationsGet200Response, *http.Response, error) {
	return r.ApiService.ResourceConfigurationsGetExecute(r)
}

/*
ResourceConfigurationsGet List resource configurations

Returns a paginated list of resource configurations. Requires the `resources:read` scope.

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @return ApiResourceConfigurationsGetRequest
*/
func (a *ResourceConfigurationsAPIService) ResourceConfigurationsGet(ctx context.Context) ApiResourceConfigurationsGetRequest {
	return ApiResourceConfigurationsGetRequest{
		ApiService: a,
		ctx: ctx,
	}
}

// Execute executes the request
//  @return ResourceConfigurationsGet200Response
func (a *ResourceConfigurationsAPIService) ResourceConfigurationsGetExecute(r ApiResourceConfigurationsGetRequest) (*ResourceConfigurationsGet200Response, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodGet
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *ResourceConfigurationsGet200Response
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "ResourceConfigurationsAPIService.ResourceConfigurationsGet")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/resource_configurations"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	if r.resourceType != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "resource_type", r.resourceType, "")
	}
	if r.resourceId != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "resource_id", r.resourceId, "")
	}
	if r.environmentId != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "environment_id", r.environmentId, "")
	}
	if r.limit != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "limit", r.limit, "")
	}
	if r.nextToken != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "next_token", r.nextToken, "")
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiResourceConfigurationsPostRequest struct {
	ctx context.Context
	ApiService *ResourceConfigurationsAPIService
	resourceConfigurationsPostRequest *ResourceConfigurationsPostRequest
}

func (r ApiResourceConfigurationsPostRequest) ResourceConfigurationsPostRequest(resourceConfigurationsPostRequest ResourceConfigurationsPostRequest) ApiResourceConfigurationsPostRequest {
	r.resourceConfigurationsPostRequest = &resourceConfigurationsPostRequest
	return r
}

func (r ApiResourceConfigurationsPostRequest) Execute() (*ResourceConfigurationsPost200Response, *http.Response, error) {
	return r.ApiService.ResourceConfigurationsPostExecute(r)
}

/*
ResourceConfigurationsPost Create a resource configuration

Creates a resource configuration and returns the created resource configuration. Requires the `resources:write` scope.

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @return ApiResourceConfigurationsPostRequest
*/
func (a *ResourceConfigurationsAPIService) ResourceConfigurationsPost(ctx context.Context) ApiResourceConfigurationsPostRequest {
	return ApiResourceConfigurationsPostRequest{
		ApiService: a,
		ctx: ctx,
	}
}

// Execute executes the request
//  @return ResourceConfigurationsPost200Response
func (a *ResourceConfigurationsAPIService) ResourceConfigurationsPostExecute(r ApiResourceConfigurationsPostRequest) (*ResourceConfigurationsPost200Response, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodPost
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *ResourceConfigurationsPost200Response
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "ResourceConfigurationsAPIService.ResourceConfigurationsPost")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/resource_configurations"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{"application/json"}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	// body params
	localVarPostBody = r.resourceConfigurationsPostRequest
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}
