/*
Retool API

The Retool API enables you to programmatically perform actions across your organization and its spaces. You can perform RESTful requests to manage a wide range of objects, such as adding users or updating resource configurations.  ## Base URL  All endpoints are relative to your Retool instance URL:  ``` https://{your-retool-instance}/api/v2 ```  ## Authentication  The Retool API uses HTTP Bearer authentication scheme with API tokens to authenticate requests. Users with sufficient permissions can create API tokens in the organization's [Retool API settings](/auth/login?redirectOnLogin=settings/api). Each token can be scoped to specific permissions—only grant the scopes needed for your use case.  ``` Authorization: Bearer YOUR_API_TOKEN ```  ## Versioning  The API version corresponds to the Retool release version in which it was shipped. This means the API version reflects the features and endpoints available in that release. When you upgrade your Retool instance, the API version updates alongside it and any new endpoints or capabilities introduced in that release become available.

API version: 4.0.0
*/

// Code generated by OpenAPI Generator (https://openapi-generator.tech); DO NOT EDIT.

package api

import (
	"bytes"
	"context"
	"io"
	"net/http"
	"net/url"
	"strings"
)


// AccessRequestsAPIService AccessRequestsAPI service
type AccessRequestsAPIService service

type ApiAccessRequestsAccessRequestIdGetRequest struct {
	ctx context.Context
	ApiService *AccessRequestsAPIService
	accessRequestId string
}

func (r ApiAccessRequestsAccessRequestIdGetRequest) Execute() (*AccessRequestsAccessRequestIdGet200Response, *http.Response, error) {
	return r.ApiService.AccessRequestsAccessRequestIdGetExecute(r)
}

/*
AccessRequestsAccessRequestIdGet Get an access request

Returns the specified access request. Requires the `users:read` scope.

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @param accessRequestId
 @return ApiAccessRequestsAccessRequestIdGetRequest
*/
func (a *AccessRequestsAPIService) AccessRequestsAccessRequestIdGet(ctx context.Context, accessRequestId string) ApiAccessRequestsAccessRequestIdGetRequest {
	return ApiAccessRequestsAccessRequestIdGetRequest{
		ApiService: a,
		ctx: ctx,
		accessRequestId: accessRequestId,
	}
}

// Execute executes the request
//  @return AccessRequestsAccessRequestIdGet200Response
func (a *AccessRequestsAPIService) AccessRequestsAccessRequestIdGetExecute(r ApiAccessRequestsAccessRequestIdGetRequest) (*AccessRequestsAccessRequestIdGet200Response, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodGet
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *AccessRequestsAccessRequestIdGet200Response
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "AccessRequestsAPIService.AccessRequestsAccessRequestIdGet")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/access_requests/{accessRequestId}"
	localVarPath = strings.Replace(localVarPath, "{"+"accessRequestId"+"}", url.PathEscape(parameterValueToString(r.accessRequestId, "accessRequestId")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiAccessRequestsAccessRequestIdPatchRequest struct {
	ctx context.Context
	ApiService *AccessRequestsAPIService
	accessRequestId string
	accessRequestsAccessRequestIdPatchRequest *AccessRequestsAccessRequestIdPatchRequest
}

func (r ApiAccessRequestsAccessRequestIdPatchRequest) AccessRequestsAccessRequestIdPatchRequest(accessRequestsAccessRequestIdPatchRequest AccessRequestsAccessRequestIdPatchRequest) ApiAccessRequestsAccessRequestIdPatchRequest {
	r.accessRequestsAccessRequestIdPatchRequest = &accessRequestsAccessRequestIdPatchRequest
	return r
}

func (r ApiAccessRequestsAccessRequestIdPatchRequest) Execute() (*AccessRequestsAccessRequestIdPatch200Response, *http.Response, error) {
	return r.ApiService.AccessRequestsAccessRequestIdPatchExecute(r)
}

/*
AccessRequestsAccessRequestIdPatch Approve or deny an access request

Approves or denies an access request and returns the updated access request. Requires the `users:write` scope.

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @param accessRequestId
 @return ApiAccessRequestsAccessRequestIdPatchRequest
*/
func (a *AccessRequestsAPIService) AccessRequestsAccessRequestIdPatch(ctx context.Context, accessRequestId string) ApiAccessRequestsAccessRequestIdPatchRequest {
	return ApiAccessRequestsAccessRequestIdPatchRequest{
		ApiService: a,
		ctx: ctx,
		accessRequestId: accessRequestId,
	}
}

// Execute executes the request
//  @return AccessRequestsAccessRequestIdPatch200Response
func (a *AccessRequestsAPIService) AccessRequestsAccessRequestIdPatchExecute(r ApiAccessRequestsAccessRequestIdPatchRequest) (*AccessRequestsAccessRequestIdPatch200Response, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodPatch
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *AccessRequestsAccessRequestIdPatch200Response
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "AccessRequestsAPIService.AccessRequestsAccessRequestIdPatch")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/access_requests/{accessRequestId}"
	localVarPath = strings.Replace(localVarPath, "{"+"accessRequestId"+"}", url.PathEscape(parameterValueToString(r.accessRequestId, "accessRequestId")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{"application/json"}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	// body params
	localVarPostBody = r.accessRequestsAccessRequestIdPatchRequest
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiAccessRequestsGetRequest struct {
	ctx context.Context
	ApiService *AccessRequestsAPIService
	status *string
	limit *int32
	nextToken *string
}

func (r ApiAccessRequestsGetRequest) Status(status string) ApiAccessRequestsGetRequest {
	r.status = &status
	return r
}

func (r ApiAccessRequestsGetRequest) Limit(limit int32) ApiAccessRequestsGetRequest {
	r.limit = &limit
	return r
}

func (r ApiAccessRequestsGetRequest) NextToken(nextToken string) ApiAccessRequestsGetRequest {
	r.nextToken = &nextToken
	return r
}

func (r ApiAccessRequestsGetRequest) Execute() (*AccessRequestsGet200Response, *http.Response, error) {
	return r.ApiService.AccessRequestsGetExecute(r)
}

/*
AccessRequestsGet List access requests

Returns a list of access requests for the organization. Requires the `users:read` scope.

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @return ApiAccessRequestsGetRequest
*/
func (a *AccessRequestsAPIService) AccessRequestsGet(ctx context.Context) ApiAccessRequestsGetRequest {
	return ApiAccessRequestsGetRequest{
		ApiService: a,
		ctx: ctx,
	}
}

// Execute executes the request
//  @return AccessRequestsGet200Response
func (a *AccessRequestsAPIService) AccessRequestsGetExecute(r ApiAccessRequestsGetRequest) (*AccessRequestsGet200Response, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodGet
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *AccessRequestsGet200Response
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "AccessRequestsAPIService.AccessRequestsGet")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/access_requests"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	if r.status != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "status", r.status, "")
	}
	if r.limit != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "limit", r.limit, "")
	}
	if r.nextToken != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "next_token", r.nextToken, "")
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}
